In [1]:
import pandas as pd
from sqlalchemy import create_engine

Convert CSVs into Pandas DataFrames

In [2]:
import_consumption = "Disappearance.csv"
import_consumption_df = pd.read_csv(import_consumption)
renamed_df = import_consumption_df.rename(columns = {"Disappearance (consumption) in selected importing countries": "Disappearance"})
renamed_df

,Disappearance,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,In thousand 60-kg bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,European Union,"34,230","37,663","38,240","40,292","36,850","38,735","40,041","39,352","39,964",...,"40,042","41,196","40,756","40,979","41,585","42,798","41,998","44,615","41,613","44,730"
5,Austria,"1,340","1,302","1,212","1,335","1,086","1,012","1,076","1,087","1,105",...,886,903,"1,117","1,269","1,249",NaN,NaN,NaN,NaN,NaN
6,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,934,871,934,915,"1,245",NaN,NaN,NaN,NaN,NaN
7,Belgium/Luxembourg,"1,124",708,696,789,958,"1,073","1,039",886,"1,309",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Bulgaria,102,17,175,327,353,393,246,275,324,...,409,395,360,376,419,NaN,NaN,NaN,NaN,NaN
9,Croatia,NaN,NaN,135,132,164,288,304,361,320,...,366,370,367,360,387,NaN,NaN,NaN,NaN,NaN
10,Cyprus,31,45,39,78,45,43,52,46,46,...,75,74,81,85,89,NaN,NaN,NaN,NaN,NaN
11,Czech Republic,659,525,472,448,509,511,475,485,523,...,525,470,572,685,637,NaN,NaN,NaN,NaN,NaN
12,Denmark,865,909,959,891,908,758,895,808,854,...,676,806,762,800,822,NaN,NaN,NaN,NaN,NaN
13,Estonia,NaN,NaN,13,44,63,83,84,99,90,...,123,105,67,104,120,NaN,NaN,NaN,NaN,NaN
14,Finland,"1,070",966,"1,030","1,129","1,050",735,901,939,"1,001",...,"1,058","1,080","1,093","1,082","1,095",NaN,NaN,NaN,NaN,NaN
15,France,"5,205","5,557","5,614","5,507","5,111","5,313","5,512","5,487","5,351",...,"5,677","5,713","5,962","5,790","5,707",NaN,NaN,NaN,NaN,NaN
16,Germany,"7,279","12,377","9,570","11,325","8,214","11,231","10,594","9,670","9,976",...,"8,897","9,292","9,460","8,830","9,378",NaN,NaN,NaN,NaN,NaN
17,Greece,631,387,320,148,356,383,715,739,668,...,974,994,"1,023","1,076","1,101",NaN,NaN,NaN,NaN,NaN
18,Hungary,574,380,348,557,724,447,571,602,652,...,445,376,180,252,177,NaN,NaN,NaN,NaN,NaN
19,Ireland,120,113,91,107,127,107,87,97,92,...,134,160,179,214,196,NaN,NaN,NaN,NaN,NaN
20,Italy,"4,832","4,254","4,132","4,888","4,774","4,644","4,776","4,913","4,936",...,"5,806","5,781","5,689","5,710","5,634",NaN,NaN,NaN,NaN,NaN
21,Latvia,NaN,NaN,19,41,6,14,50,120,134,...,88,99,101,101,95,NaN,NaN,NaN,NaN,NaN
22,Lithuania,NaN,NaN,2,9,37,68,66,108,135,...,210,223,180,193,197,NaN,NaN,NaN,NaN,NaN
23,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,222,232,215,212,241,NaN,NaN,NaN,NaN,NaN
24,Malta,20,13,16,22,12,21,9,9,7,...,14,12,16,21,22,NaN,NaN,NaN,NaN,NaN
25,Netherlands,"2,383","2,488","3,261","2,719","2,122","2,293","2,509","2,367","1,961",...,898,"1,347",909,"1,382","1,625",NaN,NaN,NaN,NaN,NaN
26,Poland,335,243,"1,650","1,545","1,742","1,637","1,755","1,966","1,965",...,"2,001","2,156","2,034","1,936","1,669",NaN,NaN,NaN,NaN,NaN
27,Portugal,467,448,573,529,673,632,615,603,696,...,731,812,859,828,840,NaN,NaN,NaN,NaN,NaN
28,Romania,442,335,601,420,347,550,696,630,584,...,775,796,802,849,891,NaN,NaN,NaN,NaN,NaN
29,Slovakia,NaN,NaN,NaN,276,234,223,244,234,241,...,213,337,388,201,328,NaN,NaN,NaN,NaN,NaN
30,Slovenia,NaN,NaN,115,148,152,140,164,161,162,...,198,205,208,185,184,NaN,NaN,NaN,NaN,NaN
31,Spain,"2,714","2,651","3,045","2,728","2,774","2,732","2,901","2,977","2,996",...,"3,352","3,232","3,149","3,435","3,234",NaN,NaN,NaN,NaN,NaN
32,Sweden,"1,689","1,604","1,634","1,618","1,669","1,204","1,298","1,241","1,248",...,"1,133","1,221","1,125","1,159","1,175",NaN,NaN,NaN,NaN,NaN
33,United Kingdom,"2,348","2,342","2,516","2,534","2,640","2,200","2,406","2,441","2,588",...,"3,220","3,134","2,925","2,926","2,828",NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Japan,"5,060","5,809","5,132","5,740","5,973","6,116","5,838","5,968","6,052",...,"7,130","7,192","7,015","7,131","7,435","7,494","7,695","7,872","7,742","7,834"
36,Norway,727,758,736,690,800,657,713,675,702,...,715,746,785,723,763,729,788,782,781,734
37,Russian Federation,NaN,NaN,"1,377","1,795","1,712","1,650","1,063","1,857","1,647",...,"3,113","3,700","3,754","3,696","3,648","4,021","3,846","4,439","4,512","4,234"
38,Switzerland,907,949,995,869,944,935,922,712,811,...,966,"1,012","1,035","1,047","1,123","1,028","1,096","1,066",894,"1,170"
39,Tunisia,101,90,111,101,137,137,144,165,147,...,289,301,415,421,429,460,458,465,546,533
40,USA,"18,298","18,661","18,290","19,217","17,326","17,363","18,059","17,795","18,604",...,"21,436","21,783","22,044","22,232","23,417","23,767","24,438","25,243","26,183","26,514"
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Total,"59,322","63,930","64,882","68,704","63,742","65,593","66,780","66,525","67,927",...,"73,690","75,931","75,804","76,229","78,400","79,938","79,891","83,489","82,749","85,748"
43,© International Coffee Organization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# df = df[df['EPS'].notna()]
# df.dropna(how='all') 
# df = df[pd.notnull(df['EPS'])]
# df.dropna(subset=['EPS'], how='all', inplace=True)

renamed_df.dropna(subset=["Disappearance"], how="all", inplace=True)
renamed_df

,Disappearance,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,In thousand 60-kg bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
4,European Union,"34,230","37,663","38,240","40,292","36,850","38,735","40,041","39,352","39,964",...,"40,042","41,196","40,756","40,979","41,585","42,798","41,998","44,615","41,613","44,730"
5,Austria,"1,340","1,302","1,212","1,335","1,086","1,012","1,076","1,087","1,105",...,886,903,"1,117","1,269","1,249",NaN,NaN,NaN,NaN,NaN
6,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,934,871,934,915,"1,245",NaN,NaN,NaN,NaN,NaN
7,Belgium/Luxembourg,"1,124",708,696,789,958,"1,073","1,039",886,"1,309",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Bulgaria,102,17,175,327,353,393,246,275,324,...,409,395,360,376,419,NaN,NaN,NaN,NaN,NaN
9,Croatia,NaN,NaN,135,132,164,288,304,361,320,...,366,370,367,360,387,NaN,NaN,NaN,NaN,NaN
10,Cyprus,31,45,39,78,45,43,52,46,46,...,75,74,81,85,89,NaN,NaN,NaN,NaN,NaN
11,Czech Republic,659,525,472,448,509,511,475,485,523,...,525,470,572,685,637,NaN,NaN,NaN,NaN,NaN
12,Denmark,865,909,959,891,908,758,895,808,854,...,676,806,762,800,822,NaN,NaN,NaN,NaN,NaN
13,Estonia,NaN,NaN,13,44,63,83,84,99,90,...,123,105,67,104,120,NaN,NaN,NaN,NaN,NaN
14,Finland,"1,070",966,"1,030","1,129","1,050",735,901,939,"1,001",...,"1,058","1,080","1,093","1,082","1,095",NaN,NaN,NaN,NaN,NaN
15,France,"5,205","5,557","5,614","5,507","5,111","5,313","5,512","5,487","5,351",...,"5,677","5,713","5,962","5,790","5,707",NaN,NaN,NaN,NaN,NaN
16,Germany,"7,279","12,377","9,570","11,325","8,214","11,231","10,594","9,670","9,976",...,"8,897","9,292","9,460","8,830","9,378",NaN,NaN,NaN,NaN,NaN
17,Greece,631,387,320,148,356,383,715,739,668,...,974,994,"1,023","1,076","1,101",NaN,NaN,NaN,NaN,NaN
18,Hungary,574,380,348,557,724,447,571,602,652,...,445,376,180,252,177,NaN,NaN,NaN,NaN,NaN
19,Ireland,120,113,91,107,127,107,87,97,92,...,134,160,179,214,196,NaN,NaN,NaN,NaN,NaN
20,Italy,"4,832","4,254","4,132","4,888","4,774","4,644","4,776","4,913","4,936",...,"5,806","5,781","5,689","5,710","5,634",NaN,NaN,NaN,NaN,NaN
21,Latvia,NaN,NaN,19,41,6,14,50,120,134,...,88,99,101,101,95,NaN,NaN,NaN,NaN,NaN
22,Lithuania,NaN,NaN,2,9,37,68,66,108,135,...,210,223,180,193,197,NaN,NaN,NaN,NaN,NaN
23,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,222,232,215,212,241,NaN,NaN,NaN,NaN,NaN
24,Malta,20,13,16,22,12,21,9,9,7,...,14,12,16,21,22,NaN,NaN,NaN,NaN,NaN
25,Netherlands,"2,383","2,488","3,261","2,719","2,122","2,293","2,509","2,367","1,961",...,898,"1,347",909,"1,382","1,625",NaN,NaN,NaN,NaN,NaN
26,Poland,335,243,"1,650","1,545","1,742","1,637","1,755","1,966","1,965",...,"2,001","2,156","2,034","1,936","1,669",NaN,NaN,NaN,NaN,NaN
27,Portugal,467,448,573,529,673,632,615,603,696,...,731,812,859,828,840,NaN,NaN,NaN,NaN,NaN
28,Romania,442,335,601,420,347,550,696,630,584,...,775,796,802,849,891,NaN,NaN,NaN,NaN,NaN
29,Slovakia,NaN,NaN,NaN,276,234,223,244,234,241,...,213,337,388,201,328,NaN,NaN,NaN,NaN,NaN
30,Slovenia,NaN,NaN,115,148,152,140,164,161,162,...,198,205,208,185,184,NaN,NaN,NaN,NaN,NaN
31,Spain,"2,714","2,651","3,045","2,728","2,774","2,732","2,901","2,977","2,996",...,"3,352","3,232","3,149","3,435","3,234",NaN,NaN,NaN,NaN,NaN
32,Sweden,"1,689","1,604","1,634","1,618","1,669","1,204","1,298","1,241","1,248",...,"1,133","1,221","1,125","1,159","1,175",NaN,NaN,NaN,NaN,NaN
33,United Kingdom,"2,348","2,342","2,516","2,534","2,640","2,200","2,406","2,441","2,588",...,"3,220","3,134","2,925","2,926","2,828",NaN,NaN,NaN,NaN,NaN
35,Japan,"5,060","5,809","5,132","5,740","5,973","6,116","5,838","5,968","6,052",...,"7,130","7,192","7,015","7,131","7,435","7,494","7,695","7,872","7,742","7,834"
36,Norway,727,758,736,690,800,657,713,675,702,...,715,746,785,723,763,729,788,782,781,734
37,Russian Federation,NaN,NaN,"1,377","1,795","1,712","1,650","1,063","1,857","1,647",...,"3,113","3,700","3,754","3,696","3,648","4,021","3,846","4,439","4,512","4,234"
38,Switzerland,907,949,995,869,944,935,922,712,811,...,966,"1,012","1,035","1,047","1,123","1,028","1,096","1,066",894,"1,170"
39,Tunisia,101,90,111,101,137,137,144,165,147,...,289,301,415,421,429,460,458,465,546,533
40,USA,"18,298","18,661","18,290","19,217","17,326","17,363","18,059","17,795","18,604",...,"21,436","21,783","22,044","22,232","23,417","23,767","24,438","25,243","26,183","26,514"
42,Total,"59,322","63,930","64,882","68,704","63,742","65,593","66,780","66,525","67,927",...,"73,690","75,931","75,804","76,229","78,400","79,938","79,891","83,489","82,749","85,748"
43,© International Coffee Organization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# renamed_df.delete(renamed_df.loc[renamed_df["Disappearance"] == "In thousand 60-kg bags"])
dropped_df = renamed_df.drop(index=[0,43])

In [26]:
dropped_df.head()

,Disappearance,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
2,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
4,European Union,"34,230","37,663","38,240","40,292","36,850","38,735","40,041","39,352","39,964",...,"40,042","41,196","40,756","40,979","41,585","42,798","41,998","44,615","41,613","44,730"
5,Austria,"1,340","1,302","1,212","1,335","1,086","1,012","1,076","1,087","1,105",...,886,903,"1,117","1,269","1,249",NaN,NaN,NaN,NaN,NaN
6,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,934,871,934,915,"1,245",NaN,NaN,NaN,NaN,NaN
7,Belgium/Luxembourg,"1,124",708,696,789,958,"1,073","1,039",886,"1,309",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
dropped_df.columns = dropped_df.iloc[0]
print(dropped_df)

# dropped_df.columns = dropped_df[header_row]

4          European Union  34,230  37,663  38,240  40,292  36,850  38,735  \
4          European Union  34,230  37,663  38,240  40,292  36,850  38,735
5                 Austria   1,340   1,302   1,212   1,335   1,086   1,012
6                 Belgium     NaN     NaN     NaN     NaN     NaN     NaN
7      Belgium/Luxembourg   1,124     708     696     789     958   1,073
8                Bulgaria     102      17     175     327     353     393
9                 Croatia     NaN     NaN     135     132     164     288
10                 Cyprus      31      45      39      78      45      43
11         Czech Republic     659     525     472     448     509     511
12                Denmark     865     909     959     891     908     758
13                Estonia     NaN     NaN      13      44      63      83
14                Finland   1,070     966   1,030   1,129   1,050     735
15                 France   5,205   5,557   5,614   5,507   5,111   5,313
16                Germany   7,279  12,377   9,570  11,325   8,214  11,231
17                 Greece     631     387     320     148     356     383
18                Hungary     574     380     348     557     724     447
19                Ireland     120     113      91     107     127     107
20                  Italy   4,832   4,254   4,132   4,888   4,774   4,644
21                 Latvia     NaN     NaN      19      41       6      14
22              Lithuania     NaN     NaN       2       9      37      68
23             Luxembourg     NaN     NaN     NaN     NaN     NaN     NaN
24                  Malta      20      13      16      22      12      21
25            Netherlands   2,383   2,488   3,261   2,719   2,122   2,293
26                 Poland     335     243   1,650   1,545   1,742   1,637
27               Portugal     467     448     573     529     673     632
28                Romania     442     335     601     420     347     550
29               Slovakia     NaN     NaN     NaN     276     234     223
30               Slovenia     NaN     NaN     115     148     152     140
31                  Spain   2,714   2,651   3,045   2,728   2,774   2,732
32                 Sweden   1,689   1,604   1,634   1,618   1,669   1,204
33         United Kingdom   2,348   2,342   2,516   2,534   2,640   2,200
35                  Japan   5,060   5,809   5,132   5,740   5,973   6,116
36                 Norway     727     758     736     690     800     657
37     Russian Federation     NaN     NaN   1,377   1,795   1,712   1,650
38            Switzerland     907     949     995     869     944     935
39                Tunisia     101      90     111     101     137     137
40                    USA  18,298  18,661  18,290  19,217  17,326  17,363
42                  Total  59,322  63,930  64,882  68,704  63,742  65,593

4   40,041  39,352  39,964  ...  40,042  41,196  40,756  40,979  41,585  \
4   40,041  39,352  39,964  ...  40,042  41,196  40,756  40,979  41,585
5    1,076   1,087   1,105  ...     886     903   1,117   1,269   1,249
6      NaN     NaN     NaN  ...     934     871     934     915   1,245
7    1,039     886   1,309  ...     NaN     NaN     NaN     NaN     NaN
8      246     275     324  ...     409     395     360     376     419
9      304     361     320  ...     366     370     367     360     387
10      52      46      46  ...      75      74      81      85      89
11     475     485     523  ...     525     470     572     685     637
12     895     808     854  ...     676     806     762     800     822
13      84      99      90  ...     123     105      67     104     120
14     901     939   1,001  ...   1,058   1,080   1,093   1,082   1,095
15   5,512   5,487   5,351  ...   5,677   5,713   5,962   5,790   5,707
16  10,594   9,670   9,976  ...   8,897   9,292   9,460   8,830   9,378
17     715     739     668  ...     974     994   1,023   1,076   1,101
18     571     602     652  ...     445     376     180     252     177
19      87      97      92  ...     134     160     179     214     196
20   4,776   4,913   4,936  ...   5,806   5,781   5,689   5,710   5,634
21      50     120     134  ...      88      99     101     101      95
22      66     108     135  ...     210     223     180     193     197
23     NaN     NaN     NaN  ...     222     232     215     212     241
24       9       9       7  ...      14      12      16      21      22
25   2,509   2,367   1,961  ...     898   1,347     909   1,382   1,625
26   1,755   1,966   1,965  ...   2,001   2,156   2,034   1,936   1,669
27     615     603     696  ...     731     812     859     828     840
28     696     630     584  ...     775     796     802     849     891
29     244     234     241  ...     213     337     388     201     328
30     164     161     162  ...     198     205     208     185     184
31   2,901   2,977   2,996  ...   3,352   3,232   3,149   3,435   3,234
32   1,298   1,241   1,248  ...   1,133   1,221   1,125   1,159   1,175
33   2,406   2,441   2,588  ...   3,220   3,134   2,925   2,926   2,828
35   5,838   5,968   6,052  ...   7,130   7,192   7,015   7,131   7,435
36     713     675     702  ...     715     746     785     723     763
37   1,063   1,857   1,647  ...   3,113   3,700   3,754   3,696   3,648
38     922     712     811  ...     966   1,012   1,035   1,047   1,123
39     144     165     147  ...     289     301     415     421     429
40  18,059  17,795  18,604  ...  21,436  21,783  22,044  22,232  23,417
42  66,780  66,525  67,927  ...  73,690  75,931  75,804  76,229  78,400

4   42,798  41,998  44,615  41,613  44,730
4   42,798  41,998  44,615  41,613  44,730
5      NaN     NaN     NaN     NaN     NaN
6      NaN     NaN     NaN     NaN     NaN
7      NaN     NaN     NaN     NaN     NaN
8      NaN     NaN     NaN     NaN     NaN
9      NaN     NaN     NaN     NaN     NaN
10     NaN     NaN     NaN     NaN     NaN
11     NaN     NaN     NaN     NaN     NaN
12     NaN     NaN     NaN     NaN     NaN
13     NaN     NaN     NaN     NaN     NaN
14     NaN     NaN     NaN     NaN     NaN
15     NaN     NaN     NaN     NaN     NaN
16     NaN     NaN     NaN     NaN     NaN
17     NaN     NaN     NaN     NaN     NaN
18     NaN     NaN     NaN     NaN     NaN
19     NaN     NaN     NaN     NaN     NaN
20     NaN     NaN     NaN     NaN     NaN
21     NaN     NaN     NaN     NaN     NaN
22     NaN     NaN     NaN     NaN     NaN
23     NaN     NaN     NaN     NaN     NaN
24     NaN     NaN     NaN     NaN     NaN
25     NaN     NaN     NaN     NaN     NaN
26     NaN     NaN     NaN     NaN     NaN
27     NaN     NaN     NaN     NaN     NaN
28     NaN     NaN     NaN     NaN     NaN
29     NaN     NaN     NaN     NaN     NaN
30     NaN     NaN     NaN     NaN     NaN
31     NaN     NaN     NaN     NaN     NaN
32     NaN     NaN     NaN     NaN     NaN
33     NaN     NaN     NaN     NaN     NaN
35   7,494   7,695   7,872   7,742   7,834
36     729     788     782     781     734
37   4,021   3,846   4,439   4,512   4,234
38   1,028   1,096   1,066     894   1,170
39     460     458     465     546     533
40  23,767  24,438  25,243  26,183  26,514
42  79,938  79,891  83,489  82,749  85,748

[37 rows x 30 columns]

In [41]:
dropped_df = dropped_df.drop(2)
dropped_df

2,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
4,European Union,"34,230","37,663","38,240","40,292","36,850","38,735","40,041","39,352","39,964",...,"40,042","41,196","40,756","40,979","41,585","42,798","41,998","44,615","41,613","44,730"
5,Austria,"1,340","1,302","1,212","1,335","1,086","1,012","1,076","1,087","1,105",...,886,903,"1,117","1,269","1,249",NaN,NaN,NaN,NaN,NaN
6,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,934,871,934,915,"1,245",NaN,NaN,NaN,NaN,NaN
7,Belgium/Luxembourg,"1,124",708,696,789,958,"1,073","1,039",886,"1,309",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Bulgaria,102,17,175,327,353,393,246,275,324,...,409,395,360,376,419,NaN,NaN,NaN,NaN,NaN
9,Croatia,NaN,NaN,135,132,164,288,304,361,320,...,366,370,367,360,387,NaN,NaN,NaN,NaN,NaN
10,Cyprus,31,45,39,78,45,43,52,46,46,...,75,74,81,85,89,NaN,NaN,NaN,NaN,NaN
11,Czech Republic,659,525,472,448,509,511,475,485,523,...,525,470,572,685,637,NaN,NaN,NaN,NaN,NaN
12,Denmark,865,909,959,891,908,758,895,808,854,...,676,806,762,800,822,NaN,NaN,NaN,NaN,NaN
13,Estonia,NaN,NaN,13,44,63,83,84,99,90,...,123,105,67,104,120,NaN,NaN,NaN,NaN,NaN
14,Finland,"1,070",966,"1,030","1,129","1,050",735,901,939,"1,001",...,"1,058","1,080","1,093","1,082","1,095",NaN,NaN,NaN,NaN,NaN
15,France,"5,205","5,557","5,614","5,507","5,111","5,313","5,512","5,487","5,351",...,"5,677","5,713","5,962","5,790","5,707",NaN,NaN,NaN,NaN,NaN
16,Germany,"7,279","12,377","9,570","11,325","8,214","11,231","10,594","9,670","9,976",...,"8,897","9,292","9,460","8,830","9,378",NaN,NaN,NaN,NaN,NaN
17,Greece,631,387,320,148,356,383,715,739,668,...,974,994,"1,023","1,076","1,101",NaN,NaN,NaN,NaN,NaN
18,Hungary,574,380,348,557,724,447,571,602,652,...,445,376,180,252,177,NaN,NaN,NaN,NaN,NaN
19,Ireland,120,113,91,107,127,107,87,97,92,...,134,160,179,214,196,NaN,NaN,NaN,NaN,NaN
20,Italy,"4,832","4,254","4,132","4,888","4,774","4,644","4,776","4,913","4,936",...,"5,806","5,781","5,689","5,710","5,634",NaN,NaN,NaN,NaN,NaN
21,Latvia,NaN,NaN,19,41,6,14,50,120,134,...,88,99,101,101,95,NaN,NaN,NaN,NaN,NaN
22,Lithuania,NaN,NaN,2,9,37,68,66,108,135,...,210,223,180,193,197,NaN,NaN,NaN,NaN,NaN
23,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,222,232,215,212,241,NaN,NaN,NaN,NaN,NaN
24,Malta,20,13,16,22,12,21,9,9,7,...,14,12,16,21,22,NaN,NaN,NaN,NaN,NaN
25,Netherlands,"2,383","2,488","3,261","2,719","2,122","2,293","2,509","2,367","1,961",...,898,"1,347",909,"1,382","1,625",NaN,NaN,NaN,NaN,NaN
26,Poland,335,243,"1,650","1,545","1,742","1,637","1,755","1,966","1,965",...,"2,001","2,156","2,034","1,936","1,669",NaN,NaN,NaN,NaN,NaN
27,Portugal,467,448,573,529,673,632,615,603,696,...,731,812,859,828,840,NaN,NaN,NaN,NaN,NaN
28,Romania,442,335,601,420,347,550,696,630,584,...,775,796,802,849,891,NaN,NaN,NaN,NaN,NaN
29,Slovakia,NaN,NaN,NaN,276,234,223,244,234,241,...,213,337,388,201,328,NaN,NaN,NaN,NaN,NaN
30,Slovenia,NaN,NaN,115,148,152,140,164,161,162,...,198,205,208,185,184,NaN,NaN,NaN,NaN,NaN
31,Spain,"2,714","2,651","3,045","2,728","2,774","2,732","2,901","2,977","2,996",...,"3,352","3,232","3,149","3,435","3,234",NaN,NaN,NaN,NaN,NaN
32,Sweden,"1,689","1,604","1,634","1,618","1,669","1,204","1,298","1,241","1,248",...,"1,133","1,221","1,125","1,159","1,175",NaN,NaN,NaN,NaN,NaN
33,United Kingdom,"2,348","2,342","2,516","2,534","2,640","2,200","2,406","2,441","2,588",...,"3,220","3,134","2,925","2,926","2,828",NaN,NaN,NaN,NaN,NaN
35,Japan,"5,060","5,809","5,132","5,740","5,973","6,116","5,838","5,968","6,052",...,"7,130","7,192","7,015","7,131","7,435","7,494","7,695","7,872","7,742","7,834"
36,Norway,727,758,736,690,800,657,713,675,702,...,715,746,785,723,763,729,788,782,781,734
37,Russian Federation,NaN,NaN,"1,377","1,795","1,712","1,650","1,063","1,857","1,647",...,"3,113","3,700","3,754","3,696","3,648","4,021","3,846","4,439","4,512","4,234"
38,Switzerland,907,949,995,869,944,935,922,712,811,...,966,"1,012","1,035","1,047","1,123","1,028","1,096","1,066",894,"1,170"
39,Tunisia,101,90,111,101,137,137,144,165,147,...,289,301,415,421,429,460,458,465,546,533
40,USA,"18,298","18,661","18,290","19,217","17,326","17,363","18,059","17,795","18,604",...,"21,436","21,783","22,044","22,232","23,417","23,767","24,438","25,243","26,183","26,514"
42,Total,"59,322","63,930","64,882","68,704","63,742","65,593","66,780","66,525","67,927",...,"73,690","75,931","75,804","76,229","78,400","79,938","79,891","83,489","82,749","85,748"