In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
imports = "Imports.csv"
imports_df = pd.read_csv(imports)
imports_df

,Imports by selected importing countries,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,In thousand 60-kg bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,European Union,"45,781","43,950","47,618","48,451","48,868","46,231","49,312","50,795","52,011",...,"67,178","69,824","70,236","72,263","72,237","76,212","76,897","81,455","79,211","83,869"
5,Austria,"1,880","2,058","2,206","1,836","1,417","1,231","1,210","1,294","1,293",...,"1,309","1,369","1,452","1,559","1,555",NaN,NaN,NaN,NaN,NaN
6,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"5,916","5,924","5,828","5,668","5,502",NaN,NaN,NaN,NaN,NaN
7,Belgium/Luxembourg,"2,015","1,746","1,828","2,063","2,262","2,401","2,526","2,544","3,580",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Bulgaria,268,200,182,397,463,515,272,294,342,...,523,528,482,560,609,NaN,NaN,NaN,NaN,NaN
9,Croatia,NaN,NaN,168,163,193,320,322,385,339,...,394,394,391,384,413,NaN,NaN,NaN,NaN,NaN
10,Cyprus,50,54,41,77,52,44,52,41,50,...,72,77,82,84,94,NaN,NaN,NaN,NaN,NaN
11,Czech Republic,659,525,475,514,554,553,525,560,765,...,930,951,952,"1,127","1,184",NaN,NaN,NaN,NaN,NaN
12,Denmark,959,983,"1,062",994,"1,033",877,"1,006",949,"1,014",...,860,"1,015",909,913,921,NaN,NaN,NaN,NaN,NaN
13,Estonia,NaN,NaN,16,51,83,107,117,141,135,...,357,263,167,157,156,NaN,NaN,NaN,NaN,NaN
14,Finland,"1,095","1,033","1,055","1,301","1,361",769,992,"1,186","1,168",...,"1,243","1,274","1,287","1,238","1,275",NaN,NaN,NaN,NaN,NaN
15,France,"6,301","6,553","6,612","6,334","6,369","6,214","6,660","6,704","6,576",...,"6,670","6,717","6,992","6,841","6,713",NaN,NaN,NaN,NaN,NaN
16,Germany,"13,671","13,229","13,789","14,107","13,583","12,852","13,507","13,905","13,740",...,"19,416","20,603","20,926","21,816","21,174",NaN,NaN,NaN,NaN,NaN
17,Greece,642,407,349,375,502,523,766,789,704,...,"1,046","1,061","1,155","1,244","1,269",NaN,NaN,NaN,NaN,NaN
18,Hungary,574,641,522,668,771,520,603,675,716,...,704,727,640,748,557,NaN,NaN,NaN,NaN,NaN
19,Ireland,129,118,95,111,131,115,98,106,102,...,142,165,210,252,233,NaN,NaN,NaN,NaN,NaN
20,Italy,"5,242","4,630","4,595","5,594","5,554","5,388","5,608","5,743","5,889",...,"8,078","8,236","8,355","8,691","8,823",NaN,NaN,NaN,NaN,NaN
21,Latvia,NaN,NaN,20,60,23,30,66,144,159,...,132,138,141,157,161,NaN,NaN,NaN,NaN,NaN
22,Lithuania,NaN,NaN,2,9,47,113,150,187,185,...,411,376,289,337,362,NaN,NaN,NaN,NaN,NaN
23,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,330,349,326,323,378,NaN,NaN,NaN,NaN,NaN
24,Malta,21,16,18,23,13,23,9,9,10,...,14,12,17,21,22,NaN,NaN,NaN,NaN,NaN
25,Netherlands,"3,128","3,121","3,205","2,804","2,800","2,910","3,084","2,924","2,862",...,"2,502","2,583","2,678","2,730","3,407",NaN,NaN,NaN,NaN,NaN
26,Poland,435,250,"1,787","1,670","1,843","1,771","1,924","2,253","2,293",...,"3,162","3,279","3,404","3,543","3,284",NaN,NaN,NaN,NaN,NaN
27,Portugal,552,557,591,666,664,633,743,727,762,...,887,"1,010","1,058","1,076","1,063",NaN,NaN,NaN,NaN,NaN
28,Romania,442,335,603,425,347,551,697,631,595,...,811,839,844,903,971,NaN,NaN,NaN,NaN,NaN
29,Slovakia,NaN,NaN,NaN,288,257,250,261,253,259,...,458,655,777,772,798,NaN,NaN,NaN,NaN,NaN
30,Slovenia,NaN,NaN,123,152,159,148,175,171,174,...,210,218,223,221,258,NaN,NaN,NaN,NaN,NaN
31,Spain,"3,053","2,970","3,414","2,813","3,028","3,146","3,515","3,777","3,718",...,"4,811","5,034","4,821","5,094","5,137",NaN,NaN,NaN,NaN,NaN
32,Sweden,"1,767","1,717","1,772","1,757","1,893","1,420","1,522","1,473","1,440",...,"1,659","1,727","1,647","1,680","1,709",NaN,NaN,NaN,NaN,NaN
33,United Kingdom,"2,898","2,806","3,088","3,197","3,466","2,807","2,903","2,929","3,142",...,"4,131","4,302","4,183","4,126","4,206",NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Japan,"5,330","5,510","5,326","5,691","6,217","5,489","5,994","5,921","6,027",...,"7,090","7,407","7,544","7,025","8,381","7,657","8,063","8,026","7,647","7,540"
36,Norway,742,761,739,693,806,662,720,684,707,...,724,759,795,735,781,743,800,799,801,743
37,Russian Federation,NaN,NaN,"1,382","1,795","1,726","1,728","1,128","2,185","1,732",...,"3,553","4,155","4,218","4,175","4,410","4,747","4,710","5,233","5,468","5,288"
38,Switzerland,"1,171","1,130","1,101","1,060","1,099","1,017","1,112",971,"1,112",...,"2,101","2,318","2,498","2,478","2,667","2,643","2,748","2,816","2,904","3,086"
39,Tunisia,101,90,111,101,137,137,144,165,147,...,289,304,429,439,439,460,459,466,546,533
40,USA,"21,007","19,840","22,939","19,329","16,171","17,107","19,445","20,343","21,030",...,"23,578","24,378","26,093","26,056","27,016","27,565","27,708","28,838","29,488","28,918"
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Total,"74,131","71,282","79,216","77,120","75,024","72,371","77,854","81,063","82,767",...,"104,513","109,145","111,812","113,171","115,931","120,028","121,384","127,633","126,065","129,977"
43,© International Coffee Organization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
imports_df.dropna(subset=["Imports by selected importing countries"], how="all", inplace=True)
imports_df

,Imports by selected importing countries,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,In thousand 60-kg bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
4,European Union,"45,781","43,950","47,618","48,451","48,868","46,231","49,312","50,795","52,011",...,"67,178","69,824","70,236","72,263","72,237","76,212","76,897","81,455","79,211","83,869"
5,Austria,"1,880","2,058","2,206","1,836","1,417","1,231","1,210","1,294","1,293",...,"1,309","1,369","1,452","1,559","1,555",NaN,NaN,NaN,NaN,NaN
6,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"5,916","5,924","5,828","5,668","5,502",NaN,NaN,NaN,NaN,NaN
7,Belgium/Luxembourg,"2,015","1,746","1,828","2,063","2,262","2,401","2,526","2,544","3,580",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Bulgaria,268,200,182,397,463,515,272,294,342,...,523,528,482,560,609,NaN,NaN,NaN,NaN,NaN
9,Croatia,NaN,NaN,168,163,193,320,322,385,339,...,394,394,391,384,413,NaN,NaN,NaN,NaN,NaN
10,Cyprus,50,54,41,77,52,44,52,41,50,...,72,77,82,84,94,NaN,NaN,NaN,NaN,NaN
11,Czech Republic,659,525,475,514,554,553,525,560,765,...,930,951,952,"1,127","1,184",NaN,NaN,NaN,NaN,NaN
12,Denmark,959,983,"1,062",994,"1,033",877,"1,006",949,"1,014",...,860,"1,015",909,913,921,NaN,NaN,NaN,NaN,NaN
13,Estonia,NaN,NaN,16,51,83,107,117,141,135,...,357,263,167,157,156,NaN,NaN,NaN,NaN,NaN
14,Finland,"1,095","1,033","1,055","1,301","1,361",769,992,"1,186","1,168",...,"1,243","1,274","1,287","1,238","1,275",NaN,NaN,NaN,NaN,NaN
15,France,"6,301","6,553","6,612","6,334","6,369","6,214","6,660","6,704","6,576",...,"6,670","6,717","6,992","6,841","6,713",NaN,NaN,NaN,NaN,NaN
16,Germany,"13,671","13,229","13,789","14,107","13,583","12,852","13,507","13,905","13,740",...,"19,416","20,603","20,926","21,816","21,174",NaN,NaN,NaN,NaN,NaN
17,Greece,642,407,349,375,502,523,766,789,704,...,"1,046","1,061","1,155","1,244","1,269",NaN,NaN,NaN,NaN,NaN
18,Hungary,574,641,522,668,771,520,603,675,716,...,704,727,640,748,557,NaN,NaN,NaN,NaN,NaN
19,Ireland,129,118,95,111,131,115,98,106,102,...,142,165,210,252,233,NaN,NaN,NaN,NaN,NaN
20,Italy,"5,242","4,630","4,595","5,594","5,554","5,388","5,608","5,743","5,889",...,"8,078","8,236","8,355","8,691","8,823",NaN,NaN,NaN,NaN,NaN
21,Latvia,NaN,NaN,20,60,23,30,66,144,159,...,132,138,141,157,161,NaN,NaN,NaN,NaN,NaN
22,Lithuania,NaN,NaN,2,9,47,113,150,187,185,...,411,376,289,337,362,NaN,NaN,NaN,NaN,NaN
23,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,330,349,326,323,378,NaN,NaN,NaN,NaN,NaN
24,Malta,21,16,18,23,13,23,9,9,10,...,14,12,17,21,22,NaN,NaN,NaN,NaN,NaN
25,Netherlands,"3,128","3,121","3,205","2,804","2,800","2,910","3,084","2,924","2,862",...,"2,502","2,583","2,678","2,730","3,407",NaN,NaN,NaN,NaN,NaN
26,Poland,435,250,"1,787","1,670","1,843","1,771","1,924","2,253","2,293",...,"3,162","3,279","3,404","3,543","3,284",NaN,NaN,NaN,NaN,NaN
27,Portugal,552,557,591,666,664,633,743,727,762,...,887,"1,010","1,058","1,076","1,063",NaN,NaN,NaN,NaN,NaN
28,Romania,442,335,603,425,347,551,697,631,595,...,811,839,844,903,971,NaN,NaN,NaN,NaN,NaN
29,Slovakia,NaN,NaN,NaN,288,257,250,261,253,259,...,458,655,777,772,798,NaN,NaN,NaN,NaN,NaN
30,Slovenia,NaN,NaN,123,152,159,148,175,171,174,...,210,218,223,221,258,NaN,NaN,NaN,NaN,NaN
31,Spain,"3,053","2,970","3,414","2,813","3,028","3,146","3,515","3,777","3,718",...,"4,811","5,034","4,821","5,094","5,137",NaN,NaN,NaN,NaN,NaN
32,Sweden,"1,767","1,717","1,772","1,757","1,893","1,420","1,522","1,473","1,440",...,"1,659","1,727","1,647","1,680","1,709",NaN,NaN,NaN,NaN,NaN
33,United Kingdom,"2,898","2,806","3,088","3,197","3,466","2,807","2,903","2,929","3,142",...,"4,131","4,302","4,183","4,126","4,206",NaN,NaN,NaN,NaN,NaN
35,Japan,"5,330","5,510","5,326","5,691","6,217","5,489","5,994","5,921","6,027",...,"7,090","7,407","7,544","7,025","8,381","7,657","8,063","8,026","7,647","7,540"
36,Norway,742,761,739,693,806,662,720,684,707,...,724,759,795,735,781,743,800,799,801,743
37,Russian Federation,NaN,NaN,"1,382","1,795","1,726","1,728","1,128","2,185","1,732",...,"3,553","4,155","4,218","4,175","4,410","4,747","4,710","5,233","5,468","5,288"
38,Switzerland,"1,171","1,130","1,101","1,060","1,099","1,017","1,112",971,"1,112",...,"2,101","2,318","2,498","2,478","2,667","2,643","2,748","2,816","2,904","3,086"
39,Tunisia,101,90,111,101,137,137,144,165,147,...,289,304,429,439,439,460,459,466,546,533
40,USA,"21,007","19,840","22,939","19,329","16,171","17,107","19,445","20,343","21,030",...,"23,578","24,378","26,093","26,056","27,016","27,565","27,708","28,838","29,488","28,918"
42,Total,"74,131","71,282","79,216","77,120","75,024","72,371","77,854","81,063","82,767",...,"104,513","109,145","111,812","113,171","115,931","120,028","121,384","127,633","126,065","129,977"
43,© International Coffee Organization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
imports_df = imports_df.drop(index=[0,43])
imports_df

,Imports by selected importing countries,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
2,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
4,European Union,"45,781","43,950","47,618","48,451","48,868","46,231","49,312","50,795","52,011",...,"67,178","69,824","70,236","72,263","72,237","76,212","76,897","81,455","79,211","83,869"
5,Austria,"1,880","2,058","2,206","1,836","1,417","1,231","1,210","1,294","1,293",...,"1,309","1,369","1,452","1,559","1,555",NaN,NaN,NaN,NaN,NaN
6,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"5,916","5,924","5,828","5,668","5,502",NaN,NaN,NaN,NaN,NaN
7,Belgium/Luxembourg,"2,015","1,746","1,828","2,063","2,262","2,401","2,526","2,544","3,580",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Bulgaria,268,200,182,397,463,515,272,294,342,...,523,528,482,560,609,NaN,NaN,NaN,NaN,NaN
9,Croatia,NaN,NaN,168,163,193,320,322,385,339,...,394,394,391,384,413,NaN,NaN,NaN,NaN,NaN
10,Cyprus,50,54,41,77,52,44,52,41,50,...,72,77,82,84,94,NaN,NaN,NaN,NaN,NaN
11,Czech Republic,659,525,475,514,554,553,525,560,765,...,930,951,952,"1,127","1,184",NaN,NaN,NaN,NaN,NaN
12,Denmark,959,983,"1,062",994,"1,033",877,"1,006",949,"1,014",...,860,"1,015",909,913,921,NaN,NaN,NaN,NaN,NaN
13,Estonia,NaN,NaN,16,51,83,107,117,141,135,...,357,263,167,157,156,NaN,NaN,NaN,NaN,NaN
14,Finland,"1,095","1,033","1,055","1,301","1,361",769,992,"1,186","1,168",...,"1,243","1,274","1,287","1,238","1,275",NaN,NaN,NaN,NaN,NaN
15,France,"6,301","6,553","6,612","6,334","6,369","6,214","6,660","6,704","6,576",...,"6,670","6,717","6,992","6,841","6,713",NaN,NaN,NaN,NaN,NaN
16,Germany,"13,671","13,229","13,789","14,107","13,583","12,852","13,507","13,905","13,740",...,"19,416","20,603","20,926","21,816","21,174",NaN,NaN,NaN,NaN,NaN
17,Greece,642,407,349,375,502,523,766,789,704,...,"1,046","1,061","1,155","1,244","1,269",NaN,NaN,NaN,NaN,NaN
18,Hungary,574,641,522,668,771,520,603,675,716,...,704,727,640,748,557,NaN,NaN,NaN,NaN,NaN
19,Ireland,129,118,95,111,131,115,98,106,102,...,142,165,210,252,233,NaN,NaN,NaN,NaN,NaN
20,Italy,"5,242","4,630","4,595","5,594","5,554","5,388","5,608","5,743","5,889",...,"8,078","8,236","8,355","8,691","8,823",NaN,NaN,NaN,NaN,NaN
21,Latvia,NaN,NaN,20,60,23,30,66,144,159,...,132,138,141,157,161,NaN,NaN,NaN,NaN,NaN
22,Lithuania,NaN,NaN,2,9,47,113,150,187,185,...,411,376,289,337,362,NaN,NaN,NaN,NaN,NaN
23,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,330,349,326,323,378,NaN,NaN,NaN,NaN,NaN
24,Malta,21,16,18,23,13,23,9,9,10,...,14,12,17,21,22,NaN,NaN,NaN,NaN,NaN
25,Netherlands,"3,128","3,121","3,205","2,804","2,800","2,910","3,084","2,924","2,862",...,"2,502","2,583","2,678","2,730","3,407",NaN,NaN,NaN,NaN,NaN
26,Poland,435,250,"1,787","1,670","1,843","1,771","1,924","2,253","2,293",...,"3,162","3,279","3,404","3,543","3,284",NaN,NaN,NaN,NaN,NaN
27,Portugal,552,557,591,666,664,633,743,727,762,...,887,"1,010","1,058","1,076","1,063",NaN,NaN,NaN,NaN,NaN
28,Romania,442,335,603,425,347,551,697,631,595,...,811,839,844,903,971,NaN,NaN,NaN,NaN,NaN
29,Slovakia,NaN,NaN,NaN,288,257,250,261,253,259,...,458,655,777,772,798,NaN,NaN,NaN,NaN,NaN
30,Slovenia,NaN,NaN,123,152,159,148,175,171,174,...,210,218,223,221,258,NaN,NaN,NaN,NaN,NaN
31,Spain,"3,053","2,970","3,414","2,813","3,028","3,146","3,515","3,777","3,718",...,"4,811","5,034","4,821","5,094","5,137",NaN,NaN,NaN,NaN,NaN
32,Sweden,"1,767","1,717","1,772","1,757","1,893","1,420","1,522","1,473","1,440",...,"1,659","1,727","1,647","1,680","1,709",NaN,NaN,NaN,NaN,NaN
33,United Kingdom,"2,898","2,806","3,088","3,197","3,466","2,807","2,903","2,929","3,142",...,"4,131","4,302","4,183","4,126","4,206",NaN,NaN,NaN,NaN,NaN
35,Japan,"5,330","5,510","5,326","5,691","6,217","5,489","5,994","5,921","6,027",...,"7,090","7,407","7,544","7,025","8,381","7,657","8,063","8,026","7,647","7,540"
36,Norway,742,761,739,693,806,662,720,684,707,...,724,759,795,735,781,743,800,799,801,743
37,Russian Federation,NaN,NaN,"1,382","1,795","1,726","1,728","1,128","2,185","1,732",...,"3,553","4,155","4,218","4,175","4,410","4,747","4,710","5,233","5,468","5,288"
38,Switzerland,"1,171","1,130","1,101","1,060","1,099","1,017","1,112",971,"1,112",...,"2,101","2,318","2,498","2,478","2,667","2,643","2,748","2,816","2,904","3,086"
39,Tunisia,101,90,111,101,137,137,144,165,147,...,289,304,429,439,439,460,459,466,546,533
40,USA,"21,007","19,840","22,939","19,329","16,171","17,107","19,445","20,343","21,030",...,"23,578","24,378","26,093","26,056","27,016","27,565","27,708","28,838","29,488","28,918"
42,Total,"74,131","71,282","79,216","77,120","75,024","72,371","77,854","81,063","82,767",...,"104,513","109,145","111,812","113,171","115,931","120,028","121,384","127,633","126,065","129,977"

In [5]:
imports_df.columns = imports_df.iloc[0]

In [6]:
imports_df.head()

2,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
2,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
4,European Union,"45,781","43,950","47,618","48,451","48,868","46,231","49,312","50,795","52,011",...,"67,178","69,824","70,236","72,263","72,237","76,212","76,897","81,455","79,211","83,869"
5,Austria,"1,880","2,058","2,206","1,836","1,417","1,231","1,210","1,294","1,293",...,"1,309","1,369","1,452","1,559","1,555",NaN,NaN,NaN,NaN,NaN
6,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"5,916","5,924","5,828","5,668","5,502",NaN,NaN,NaN,NaN,NaN
7,Belgium/Luxembourg,"2,015","1,746","1,828","2,063","2,262","2,401","2,526","2,544","3,580",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
imports_df = imports_df.drop(2)
imports_df.reset_index(drop=True)
imports_df.head()

2,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
4,European Union,"45,781","43,950","47,618","48,451","48,868","46,231","49,312","50,795","52,011",...,"67,178","69,824","70,236","72,263","72,237","76,212","76,897","81,455","79,211","83,869"
5,Austria,"1,880","2,058","2,206","1,836","1,417","1,231","1,210","1,294","1,293",...,"1,309","1,369","1,452","1,559","1,555",NaN,NaN,NaN,NaN,NaN
6,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"5,916","5,924","5,828","5,668","5,502",NaN,NaN,NaN,NaN,NaN
7,Belgium/Luxembourg,"2,015","1,746","1,828","2,063","2,262","2,401","2,526","2,544","3,580",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Bulgaria,268,200,182,397,463,515,272,294,342,...,523,528,482,560,609,NaN,NaN,NaN,NaN,NaN

In [8]:
imports_df = imports_df.rename(columns = {"Calendar years": "Country"})
imports_df.head()

2,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
4,European Union,"45,781","43,950","47,618","48,451","48,868","46,231","49,312","50,795","52,011",...,"67,178","69,824","70,236","72,263","72,237","76,212","76,897","81,455","79,211","83,869"
5,Austria,"1,880","2,058","2,206","1,836","1,417","1,231","1,210","1,294","1,293",...,"1,309","1,369","1,452","1,559","1,555",NaN,NaN,NaN,NaN,NaN
6,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"5,916","5,924","5,828","5,668","5,502",NaN,NaN,NaN,NaN,NaN
7,Belgium/Luxembourg,"2,015","1,746","1,828","2,063","2,262","2,401","2,526","2,544","3,580",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Bulgaria,268,200,182,397,463,515,272,294,342,...,523,528,482,560,609,NaN,NaN,NaN,NaN,NaN

In [10]:
final_df = imports_df.set_index(keys="Country")
final_df.head()

2,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,,,,,,,,,,,,
European Union,"45,781","43,950","47,618","48,451","48,868","46,231","49,312","50,795","52,011","52,655",...,"67,178","69,824","70,236","72,263","72,237","76,212","76,897","81,455","79,211","83,869"
Austria,"1,880","2,058","2,206","1,836","1,417","1,231","1,210","1,294","1,293","1,500",...,"1,309","1,369","1,452","1,559","1,555",NaN,NaN,NaN,NaN,NaN
Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,003",...,"5,916","5,924","5,828","5,668","5,502",NaN,NaN,NaN,NaN,NaN
Belgium/Luxembourg,"2,015","1,746","1,828","2,063","2,262","2,401","2,526","2,544","3,580",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bulgaria,268,200,182,397,463,515,272,294,342,367,...,523,528,482,560,609,NaN,NaN,NaN,NaN,NaN

In [11]:
final_df.to_csv("imports_ico.csv", header=True)