In [12]:
import pandas as pd
from sqlalchemy import create_engine

In [13]:
inventories = "Inventories.csv"
inventories_df = pd.read_csv(inventories)
inventories_df

,Inventories of green coffee in selected importing countries,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,In thousand 60-kg bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,At the end of December,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Inventories of Green Coffee,"15,619","13,200","16,843","14,218","12,667","7,905","6,494","6,896","6,601",...,"12,107","11,273","11,821","12,541","13,790","14,638","15,640","16,747","16,541","15,503"
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,European Union,"7,692","5,408","5,662","4,703","6,703","4,765","3,920","4,309","4,021",...,"5,568","5,267","4,995","5,446","5,492","5,849","6,277","6,918","6,397","6,306"
7,Austria,333,333,367,333,283,274,246,231,210,...,138,141,111,97,92,96,96,90,80,80
8,Cyprus,10,12,10,8,13,13,12,6,9,...,5,5,6,4,7,12,6,2,3,5
9,Denmark,89,89,89,89,89,89,89,89,89,...,89,89,89,89,89,89,89,89,89,89
10,Finland,176,223,213,188,282,220,140,181,162,...,83,83,83,83,83,83,83,83,83,83
11,France,573,562,537,389,481,301,266,317,350,...,483,427,414,446,438,499,507,572,475,464
12,Germany,"4,000","1,600","2,500","2,000","3,900","2,300","1,600","1,900","1,600",...,"2,911","2,680","2,462","2,859","2,636","3,120","3,519","3,991","3,601","3,518"
13,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7,4,6,7,6,6,4,4,4,3
14,Italy,215,189,187,228,222,217,223,227,234,...,317,326,329,346,352,371,370,403,396,396
15,Netherlands,"1,752","1,752","1,048",707,707,707,707,707,707,...,707,707,707,707,707,707,707,707,707,707
16,Portugal,68,143,121,220,159,86,115,131,101,...,100,101,90,110,120,100,129,129,129,129
17,Spain,200,250,333,250,267,284,303,323,344,...,570,570,570,570,837,640,637,734,723,715
18,Sweden,87,87,87,87,87,87,87,87,87,...,87,87,87,87,87,87,87,87,87,87
19,United Kingdom,189,168,170,204,213,187,132,110,128,...,72,47,41,41,39,40,43,26,20,29
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Japan,"1,500","1,167","1,333","1,250","1,467",833,983,917,883,...,"1,683","1,755","2,204","2,027","2,881","2,934","3,185","3,229","3,021","2,603"
22,Norway,124,124,124,124,124,124,124,124,124,...,124,124,124,124,124,124,124,124,124,124
23,Switzerland,321,351,302,327,286,193,140,118,165,...,161,154,203,209,206,206,217,219,368,338
24,USA,"5,982","6,150","9,422","7,814","4,087","1,990","1,327","1,428","1,408",...,"4,570","3,974","4,295","4,736","5,087","5,525","5,836","6,256","6,632","6,133"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Unspecified EU stocks,"2,433","2,758","2,485","1,920","2,122","1,381","1,222","1,551","1,603",...,"9,807","6,666","6,828","6,112","5,336","7,501","7,464","6,954","7,035","8,117"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Total,"18,052","15,957","19,328","16,137","14,789","9,287","7,716","8,447","8,204",...,"21,914","17,939","18,649","18,654","19,126","22,139","23,104","23,701","23,576","23,620"
29,© International Coffee Organization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
inventories_df.dropna(subset=["Inventories of green coffee in selected importing countries"], how="all", inplace=True)
inventories_df

,Inventories of green coffee in selected importing countries,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,In thousand 60-kg bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,At the end of December,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
4,Inventories of Green Coffee,"15,619","13,200","16,843","14,218","12,667","7,905","6,494","6,896","6,601",...,"12,107","11,273","11,821","12,541","13,790","14,638","15,640","16,747","16,541","15,503"
6,European Union,"7,692","5,408","5,662","4,703","6,703","4,765","3,920","4,309","4,021",...,"5,568","5,267","4,995","5,446","5,492","5,849","6,277","6,918","6,397","6,306"
7,Austria,333,333,367,333,283,274,246,231,210,...,138,141,111,97,92,96,96,90,80,80
8,Cyprus,10,12,10,8,13,13,12,6,9,...,5,5,6,4,7,12,6,2,3,5
9,Denmark,89,89,89,89,89,89,89,89,89,...,89,89,89,89,89,89,89,89,89,89
10,Finland,176,223,213,188,282,220,140,181,162,...,83,83,83,83,83,83,83,83,83,83
11,France,573,562,537,389,481,301,266,317,350,...,483,427,414,446,438,499,507,572,475,464
12,Germany,"4,000","1,600","2,500","2,000","3,900","2,300","1,600","1,900","1,600",...,"2,911","2,680","2,462","2,859","2,636","3,120","3,519","3,991","3,601","3,518"
13,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7,4,6,7,6,6,4,4,4,3
14,Italy,215,189,187,228,222,217,223,227,234,...,317,326,329,346,352,371,370,403,396,396
15,Netherlands,"1,752","1,752","1,048",707,707,707,707,707,707,...,707,707,707,707,707,707,707,707,707,707
16,Portugal,68,143,121,220,159,86,115,131,101,...,100,101,90,110,120,100,129,129,129,129
17,Spain,200,250,333,250,267,284,303,323,344,...,570,570,570,570,837,640,637,734,723,715
18,Sweden,87,87,87,87,87,87,87,87,87,...,87,87,87,87,87,87,87,87,87,87
19,United Kingdom,189,168,170,204,213,187,132,110,128,...,72,47,41,41,39,40,43,26,20,29
21,Japan,"1,500","1,167","1,333","1,250","1,467",833,983,917,883,...,"1,683","1,755","2,204","2,027","2,881","2,934","3,185","3,229","3,021","2,603"
22,Norway,124,124,124,124,124,124,124,124,124,...,124,124,124,124,124,124,124,124,124,124
23,Switzerland,321,351,302,327,286,193,140,118,165,...,161,154,203,209,206,206,217,219,368,338
24,USA,"5,982","6,150","9,422","7,814","4,087","1,990","1,327","1,428","1,408",...,"4,570","3,974","4,295","4,736","5,087","5,525","5,836","6,256","6,632","6,133"
26,Unspecified EU stocks,"2,433","2,758","2,485","1,920","2,122","1,381","1,222","1,551","1,603",...,"9,807","6,666","6,828","6,112","5,336","7,501","7,464","6,954","7,035","8,117"
28,Total,"18,052","15,957","19,328","16,137","14,789","9,287","7,716","8,447","8,204",...,"21,914","17,939","18,649","18,654","19,126","22,139","23,104","23,701","23,576","23,620"
29,© International Coffee Organization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
inventories_df = inventories_df.drop(index=[0, 4, 6, 26, 28, 29])
inventories_df

,Inventories of green coffee in selected importing countries,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
2,At the end of December,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
7,Austria,333,333,367,333,283,274,246,231,210,...,138,141,111,97,92,96,96,90,80,80
8,Cyprus,10,12,10,8,13,13,12,6,9,...,5,5,6,4,7,12,6,2,3,5
9,Denmark,89,89,89,89,89,89,89,89,89,...,89,89,89,89,89,89,89,89,89,89
10,Finland,176,223,213,188,282,220,140,181,162,...,83,83,83,83,83,83,83,83,83,83
11,France,573,562,537,389,481,301,266,317,350,...,483,427,414,446,438,499,507,572,475,464
12,Germany,"4,000","1,600","2,500","2,000","3,900","2,300","1,600","1,900","1,600",...,"2,911","2,680","2,462","2,859","2,636","3,120","3,519","3,991","3,601","3,518"
13,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7,4,6,7,6,6,4,4,4,3
14,Italy,215,189,187,228,222,217,223,227,234,...,317,326,329,346,352,371,370,403,396,396
15,Netherlands,"1,752","1,752","1,048",707,707,707,707,707,707,...,707,707,707,707,707,707,707,707,707,707
16,Portugal,68,143,121,220,159,86,115,131,101,...,100,101,90,110,120,100,129,129,129,129
17,Spain,200,250,333,250,267,284,303,323,344,...,570,570,570,570,837,640,637,734,723,715
18,Sweden,87,87,87,87,87,87,87,87,87,...,87,87,87,87,87,87,87,87,87,87
19,United Kingdom,189,168,170,204,213,187,132,110,128,...,72,47,41,41,39,40,43,26,20,29
21,Japan,"1,500","1,167","1,333","1,250","1,467",833,983,917,883,...,"1,683","1,755","2,204","2,027","2,881","2,934","3,185","3,229","3,021","2,603"
22,Norway,124,124,124,124,124,124,124,124,124,...,124,124,124,124,124,124,124,124,124,124
23,Switzerland,321,351,302,327,286,193,140,118,165,...,161,154,203,209,206,206,217,219,368,338
24,USA,"5,982","6,150","9,422","7,814","4,087","1,990","1,327","1,428","1,408",...,"4,570","3,974","4,295","4,736","5,087","5,525","5,836","6,256","6,632","6,133"

In [16]:
inventories_df["Inventories of green coffee in selected importing countries"] = inventories_df["Inventories of green coffee in selected importing countries"].replace({"USA": "United States"})
inventories_df

,Inventories of green coffee in selected importing countries,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
2,At the end of December,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
7,Austria,333,333,367,333,283,274,246,231,210,...,138,141,111,97,92,96,96,90,80,80
8,Cyprus,10,12,10,8,13,13,12,6,9,...,5,5,6,4,7,12,6,2,3,5
9,Denmark,89,89,89,89,89,89,89,89,89,...,89,89,89,89,89,89,89,89,89,89
10,Finland,176,223,213,188,282,220,140,181,162,...,83,83,83,83,83,83,83,83,83,83
11,France,573,562,537,389,481,301,266,317,350,...,483,427,414,446,438,499,507,572,475,464
12,Germany,"4,000","1,600","2,500","2,000","3,900","2,300","1,600","1,900","1,600",...,"2,911","2,680","2,462","2,859","2,636","3,120","3,519","3,991","3,601","3,518"
13,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7,4,6,7,6,6,4,4,4,3
14,Italy,215,189,187,228,222,217,223,227,234,...,317,326,329,346,352,371,370,403,396,396
15,Netherlands,"1,752","1,752","1,048",707,707,707,707,707,707,...,707,707,707,707,707,707,707,707,707,707
16,Portugal,68,143,121,220,159,86,115,131,101,...,100,101,90,110,120,100,129,129,129,129
17,Spain,200,250,333,250,267,284,303,323,344,...,570,570,570,570,837,640,637,734,723,715
18,Sweden,87,87,87,87,87,87,87,87,87,...,87,87,87,87,87,87,87,87,87,87
19,United Kingdom,189,168,170,204,213,187,132,110,128,...,72,47,41,41,39,40,43,26,20,29
21,Japan,"1,500","1,167","1,333","1,250","1,467",833,983,917,883,...,"1,683","1,755","2,204","2,027","2,881","2,934","3,185","3,229","3,021","2,603"
22,Norway,124,124,124,124,124,124,124,124,124,...,124,124,124,124,124,124,124,124,124,124
23,Switzerland,321,351,302,327,286,193,140,118,165,...,161,154,203,209,206,206,217,219,368,338
24,United States,"5,982","6,150","9,422","7,814","4,087","1,990","1,327","1,428","1,408",...,"4,570","3,974","4,295","4,736","5,087","5,525","5,836","6,256","6,632","6,133"

In [17]:
inventories_df.columns = inventories_df.iloc[0]

In [18]:
inventories_df.head()

2,At the end of December,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
2,At the end of December,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
7,Austria,333,333,367,333,283,274,246,231,210,...,138,141,111,97,92,96,96,90,80,80
8,Cyprus,10,12,10,8,13,13,12,6,9,...,5,5,6,4,7,12,6,2,3,5
9,Denmark,89,89,89,89,89,89,89,89,89,...,89,89,89,89,89,89,89,89,89,89
10,Finland,176,223,213,188,282,220,140,181,162,...,83,83,83,83,83,83,83,83,83,83

In [19]:
inventories_df = inventories_df.drop(2)
inventories_df.reset_index(drop=True)
inventories_df.head()

2,At the end of December,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
7,Austria,333,333,367,333,283,274,246,231,210,...,138,141,111,97,92,96,96,90,80,80
8,Cyprus,10,12,10,8,13,13,12,6,9,...,5,5,6,4,7,12,6,2,3,5
9,Denmark,89,89,89,89,89,89,89,89,89,...,89,89,89,89,89,89,89,89,89,89
10,Finland,176,223,213,188,282,220,140,181,162,...,83,83,83,83,83,83,83,83,83,83
11,France,573,562,537,389,481,301,266,317,350,...,483,427,414,446,438,499,507,572,475,464

In [20]:
inventories_df = inventories_df.rename(columns = {"At the end of December": "Country"})
inventories_df.head()

2,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
7,Austria,333,333,367,333,283,274,246,231,210,...,138,141,111,97,92,96,96,90,80,80
8,Cyprus,10,12,10,8,13,13,12,6,9,...,5,5,6,4,7,12,6,2,3,5
9,Denmark,89,89,89,89,89,89,89,89,89,...,89,89,89,89,89,89,89,89,89,89
10,Finland,176,223,213,188,282,220,140,181,162,...,83,83,83,83,83,83,83,83,83,83
11,France,573,562,537,389,481,301,266,317,350,...,483,427,414,446,438,499,507,572,475,464

In [21]:
# final_df = inventories_df.set_index(keys="Country")
# final_df.head()

In [22]:
final_df.to_csv("inventories_ico.csv", header=True)