In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import re

### Store CSV into DataFrame

In [2]:
csv1_file = "Resources/arabica_ratings_raw.csv"
arabica_df = pd.read_csv(csv1_file)
arabica_df.head(5)

,Unnamed: 0,quality_score,view_certificate_1,view_certificate_2,Cupping Protocol and Descriptors,View Green Analysis Details,Request a Sample,Species,Owner,Country of Origin,...,Quakers,Color,Category Two Defects,NA.3,Expiration,Certification Body,Certification Address,Certification Contact,Unnamed: 51,Notes
0,0,90.58,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,...,0.0,Green,0 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN
1,1,89.92,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,...,0.0,Green,1 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN
2,2,89.75,NaN,NaN,NaN,NaN,NaN,Arabica,Grounds for Health Admin,Guatemala,...,0.0,NaN,0 full defects,NaN,"May 31st, 2011",Specialty Coffee Association,"117 W 4th St, Suite 300 Santa Ana, CA 92701",Chris Buck - (562) 624-4100,NaN,NaN
3,3,89.00,NaN,NaN,NaN,NaN,NaN,Arabica,Yidnekachew Dabessa,Ethiopia,...,0.0,Green,2 full defects,NaN,"March 25th, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN
4,4,88.83,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,...,0.0,Green,2 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN

In [3]:
list(arabica_df.columns)

['Unnamed: 0',
 'quality_score',
 'view_certificate_1',
 'view_certificate_2',
 'Cupping Protocol and Descriptors',
 'View Green Analysis Details',
 'Request a Sample',
 'Species',
 'Owner',
 'Country of Origin',
 'Farm Name',
 'Lot Number',
 'Mill',
 'ICO Number',
 'Company',
 'Altitude',
 'Region',
 'Producer',
 'Number of Bags',
 'Bag Weight',
 'In-Country Partner',
 'Harvest Year',
 'Grading Date',
 'Owner.1',
 'Variety',
 'Status',
 'Processing Method',
 'NA',
 'Aroma',
 'Flavor',
 'Aftertaste',
 'Acidity',
 'Body',
 'Balance',
 'NA.1',
 'Uniformity',
 'Clean Cup',
 'Sweetness',
 'Cupper Points',
 'Total Cup Points',
 'NA.2',
 'Moisture',
 'Category One Defects',
 'Quakers',
 'Color',
 'Category Two Defects',
 'NA.3',
 'Expiration',
 'Certification Body',
 'Certification Address',
 'Certification Contact',
 'Unnamed: 51',
 'Notes']

In [4]:
csv2_file = "Resources/robusta_ratings_raw.csv"
robusta_df = pd.read_csv(csv2_file)
robusta_df.head(5)

,Unnamed: 0,quality_score,view_certificate_1,view_certificate_2,Cupping Protocol and Descriptors,View Green Analysis Details,Request a Sample,Species,Owner,Country of Origin,...,Moisture,Category One Defects,Quakers,Color,Category Two Defects,NA.3,Expiration,Certification Body,Certification Address,Certification Contact
0,0,83.75,NaN,NaN,NaN,NaN,NaN,Robusta,Ankole coffee producers coop,Uganda,...,12 %,0 full defects,0,Green,2 full defects,NaN,"June 26th, 2015",Uganda Coffee Development Authority,"Coffee House, Plot 35, Jinja Road, P.O. Box 72...",Clare Rwakatogoro - 256-41-256940/233073
1,0,83.50,NaN,NaN,NaN,NaN,NaN,Robusta,Nishant Gurjer,India,...,0 %,0 full defects,0,NaN,2 full defects,NaN,"October 31st, 2018",Specialty Coffee Association,"117 W 4th St, Suite 300 Santa Ana, CA 92701",Chris Buck - (562) 624-4100
2,0,83.25,NaN,NaN,NaN,NaN,NaN,Robusta,Andrew Hetzel,India,...,0 %,0 full defects,0,Green,0 full defects,NaN,"April 29th, 2016",Specialty Coffee Association,"117 W 4th St, Suite 300 Santa Ana, CA 92701",Chris Buck - (562) 624-4100
3,0,83.00,NaN,NaN,NaN,NaN,NaN,Robusta,UGACOF,Uganda,...,12 %,0 full defects,0,Green,7 full defects,NaN,"July 14th, 2015",Uganda Coffee Development Authority,"Coffee House, Plot 35, Jinja Road, P.O. Box 72...",Clare Rwakatogoro - 256-41-256940/233073
4,0,83.00,NaN,NaN,NaN,NaN,NaN,Robusta,Katuka Development Trust Ltd,Uganda,...,12 %,0 full defects,0,Green,3 full defects,NaN,"June 26th, 2015",Uganda Coffee Development Authority,"Coffee House, Plot 35, Jinja Road, P.O. Box 72...",Clare Rwakatogoro - 256-41-256940/233073

In [5]:
list(robusta_df.columns)

['Unnamed: 0',
 'quality_score',
 'view_certificate_1',
 'view_certificate_2',
 'Cupping Protocol and Descriptors',
 'View Green Analysis Details',
 'Request a Sample',
 'Species',
 'Owner',
 'Country of Origin',
 'Farm Name',
 'Lot Number',
 'Mill',
 'ICO Number',
 'Company',
 'Altitude',
 'Region',
 'Producer',
 'Number of Bags',
 'Bag Weight',
 'In-Country Partner',
 'Harvest Year',
 'Grading Date',
 'Owner.1',
 'Variety',
 'Status',
 'Processing Method',
 'NA',
 'Fragrance / Aroma',
 'Flavor',
 'Aftertaste',
 'Salt / Acid',
 'Bitter / Sweet',
 'Mouthfeel',
 'NA.1',
 'Uniform Cup',
 'Clean Cup',
 'Balance',
 'Cupper Points',
 'Total Cup Points',
 'NA.2',
 'Moisture',
 'Category One Defects',
 'Quakers',
 'Color',
 'Category Two Defects',
 'NA.3',
 'Expiration',
 'Certification Body',
 'Certification Address',
 'Certification Contact']

### Create new data with select columns

In [6]:
arabica_df2= arabica_df[['Species','Variety', 'Farm Name','Country of Origin','Region', 'Altitude','Owner','Company','Mill','Producer','In-Country Partner','Harvest Year','Status','Processing Method','Aroma','Flavor','Aftertaste','Acidity','Body','Balance','Uniformity','Clean Cup','Sweetness','Cupper Points','Total Cup Points','quality_score','Moisture','Category One Defects','Quakers','Color','Category Two Defects','Expiration']]

arabica_df2.head(1)

,Species,Variety,Farm Name,Country of Origin,Region,Altitude,Owner,Company,Mill,Producer,...,Sweetness,Cupper Points,Total Cup Points,quality_score,Moisture,Category One Defects,Quakers,Color,Category Two Defects,Expiration
0,Arabica,NaN,METAD PLC,Ethiopia,GUJI-HAMBELA/GOYO,1950-2200,metad plc,METAD Agricultural Developmet plc,METAD PLC,METAD PLC,...,10.0,8.75,Sample 90.58,90.58,12 %,0 full defects,0.0,Green,0 full defects,"April 3rd, 2016"

In [7]:
robusta_df2= robusta_df[['Species','Variety', 'Farm Name','Country of Origin','Region', 'Altitude','Owner','Company','Mill','Producer','In-Country Partner','Harvest Year','Status','Processing Method','Fragrance / Aroma','Flavor','Aftertaste','Salt / Acid',"Mouthfeel",'Balance','Uniform Cup','Clean Cup','Bitter / Sweet','Cupper Points','Total Cup Points','quality_score','Moisture','Category One Defects','Quakers','Color','Category Two Defects','Expiration']]

robusta_df2.head(1)

,Species,Variety,Farm Name,Country of Origin,Region,Altitude,Owner,Company,Mill,Producer,...,Bitter / Sweet,Cupper Points,Total Cup Points,quality_score,Moisture,Category One Defects,Quakers,Color,Category Two Defects,Expiration
0,Robusta,NaN,Kyangundu cooperative society,Uganda,Sheema South Western,1488,Ankole coffee producers coop,Ankole Coffee Producers Coop,Ankole coffee producers,Ankole coffee producers coop,...,8.0,8.0,Sample 83.75,83.75,12 %,0 full defects,0,Green,2 full defects,"June 26th, 2015"

### Clean DataFrame

In [8]:
# Rename column names for arabica_df2 and robusta_df2.
robusta_df3 = robusta_df2.rename(columns = {"Fragrance / Aroma": "Aroma",
                             "Salt / Acid": "Acidity",
                             "Uniform Cup": "Uniformity",
                             "Country of Origin": "Country",
                             "Bitter / Sweet": "Sweetness",
                             "quality_score": "Quality Score",
                             "Mouthfeel": "Body",
                             "Expiration": "Expiration of Certification"}) 

arabica_df3 = arabica_df2.rename(columns = {"quality_score": "Quality Score",
                                            "Country of Origin": "Country",
                                           "Expiration": "Expiration of Certification"})

In [9]:
list(robusta_df3.columns)

['Species',
 'Variety',
 'Farm Name',
 'Country',
 'Region',
 'Altitude',
 'Owner',
 'Company',
 'Mill',
 'Producer',
 'In-Country Partner',
 'Harvest Year',
 'Status',
 'Processing Method',
 'Aroma',
 'Flavor',
 'Aftertaste',
 'Acidity',
 'Body',
 'Balance',
 'Uniformity',
 'Clean Cup',
 'Sweetness',
 'Cupper Points',
 'Total Cup Points',
 'Quality Score',
 'Moisture',
 'Category One Defects',
 'Quakers',
 'Color',
 'Category Two Defects',
 'Expiration of Certification']

In [10]:
list(arabica_df3.columns)

['Species',
 'Variety',
 'Farm Name',
 'Country',
 'Region',
 'Altitude',
 'Owner',
 'Company',
 'Mill',
 'Producer',
 'In-Country Partner',
 'Harvest Year',
 'Status',
 'Processing Method',
 'Aroma',
 'Flavor',
 'Aftertaste',
 'Acidity',
 'Body',
 'Balance',
 'Uniformity',
 'Clean Cup',
 'Sweetness',
 'Cupper Points',
 'Total Cup Points',
 'Quality Score',
 'Moisture',
 'Category One Defects',
 'Quakers',
 'Color',
 'Category Two Defects',
 'Expiration of Certification']

In [11]:
#Total rows in both robusta_df3 and arabica_df3.

total_rows = len(robusta_df3) + len (arabica_df3)

total_rows

1340

In [12]:
#Join arabica_df3 with robusta_df3.  
merged_df = pd.concat([arabica_df3, robusta_df3], ignore_index=True)
merged_df

,Species,Variety,Farm Name,Country,Region,Altitude,Owner,Company,Mill,Producer,...,Sweetness,Cupper Points,Total Cup Points,Quality Score,Moisture,Category One Defects,Quakers,Color,Category Two Defects,Expiration of Certification
0,Arabica,NaN,METAD PLC,Ethiopia,GUJI-HAMBELA/GOYO,1950-2200,metad plc,METAD Agricultural Developmet plc,METAD PLC,METAD PLC,...,10.00,8.75,Sample 90.58,90.58,12 %,0 full defects,0.0,Green,0 full defects,"April 3rd, 2016"
1,Arabica,Other,METAD PLC,Ethiopia,GUJI-HAMBELA/ALAKA,1950-2200,metad plc,METAD Agricultural Developmet plc,METAD PLC,METAD PLC,...,10.00,8.58,Sample 89.92,89.92,12 %,0 full defects,0.0,Green,1 full defects,"April 3rd, 2016"
2,Arabica,Bourbon,"San Marcos Barrancas ""San Cristobal Cuch",Guatemala,NaN,1600 - 1800 m,Grounds for Health Admin,NaN,NaN,NaN,...,10.00,9.25,Sample 89.75,89.75,0 %,0 full defects,0.0,NaN,0 full defects,"May 31st, 2011"
3,Arabica,NaN,Yidnekachew Dabessa Coffee Plantation,Ethiopia,Oromia,1800-2200,Yidnekachew Dabessa,Yidnekachew Debessa Coffee Plantation,Wolensu,Yidnekachew Dabessa Coffee Plantation,...,10.00,8.67,Sample 89.00,89.00,11 %,0 full defects,0.0,Green,2 full defects,"March 25th, 2016"
4,Arabica,Other,METAD PLC,Ethiopia,GUJI-HAMBELA/BISHAN FUGU,1950-2200,metad plc,METAD Agricultural Developmet plc,METAD PLC,METAD PLC,...,10.00,8.58,Sample 88.83,88.83,12 %,0 full defects,0.0,Green,2 full defects,"April 3rd, 2016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,Robusta,NaN,ROBUSTASA,Ecuador,"San Juan, Playas",NaN,Luis Robles,ROBUSTASA,Our own lab,CafÃ© Robusta del Ecuador S.A.,...,7.75,7.83,Sample 78.75,78.75,0 %,0 full defects,0.0,Blue-Green,1 full defects,"January 18th, 2017"
1336,Robusta,NaN,ROBUSTASA,Ecuador,"San Juan, Playas",40,Luis Robles,ROBUSTASA,Own laboratory,CafÃ© Robusta del Ecuador S.A.,...,8.42,8.58,Sample 78.08,78.08,0 %,0 full defects,0.0,Blue-Green,0 full defects,"January 18th, 2017"
1337,Robusta,NaN,Fazenda Cazengo,United States,"Kwanza Norte Province, Angola",795 meters,James Moore,Global Opportunity Fund,Cafe Cazengo,Cafe Cazengo,...,7.42,7.17,Sample 77.17,77.17,0 %,0 full defects,0.0,NaN,6 full defects,"December 23rd, 2015"
1338,Robusta,NaN,NaN,India,NaN,NaN,Cafe Politico,Cafe Politico,NaN,NaN,...,7.08,6.92,Sample 75.08,75.08,10 %,20 full defects,0.0,Green,1 full defects,"August 25th, 2015"
1339,Robusta,NaN,NaN,Vietnam,NaN,NaN,Cafe Politico,Cafe Politico,NaN,NaN,...,6.67,7.92,Sample 73.75,73.75,12 %,63 full defects,0.0,None,9 full defects,"August 25th, 2015"

In [13]:
#Filter out any data which is the Status is "Incomplete".
print(merged_df['Status'].unique())

#All data are complete.

['Completed']

In [14]:
#Delete Status column from merged_df.  
list(merged_df.columns)

merged_df2 = merged_df[['Species','Variety','Farm Name','Country','Region','Altitude','Owner','Company','Mill','Producer','In-Country Partner','Harvest Year','Processing Method','Aroma','Flavor','Aftertaste','Acidity','Body','Balance','Uniformity','Clean Cup','Sweetness','Cupper Points','Total Cup Points','Quality Score','Moisture','Category One Defects','Quakers','Color','Category Two Defects','Expiration of Certification']]

merged_df2

,Species,Variety,Farm Name,Country,Region,Altitude,Owner,Company,Mill,Producer,...,Sweetness,Cupper Points,Total Cup Points,Quality Score,Moisture,Category One Defects,Quakers,Color,Category Two Defects,Expiration of Certification
0,Arabica,NaN,METAD PLC,Ethiopia,GUJI-HAMBELA/GOYO,1950-2200,metad plc,METAD Agricultural Developmet plc,METAD PLC,METAD PLC,...,10.00,8.75,Sample 90.58,90.58,12 %,0 full defects,0.0,Green,0 full defects,"April 3rd, 2016"
1,Arabica,Other,METAD PLC,Ethiopia,GUJI-HAMBELA/ALAKA,1950-2200,metad plc,METAD Agricultural Developmet plc,METAD PLC,METAD PLC,...,10.00,8.58,Sample 89.92,89.92,12 %,0 full defects,0.0,Green,1 full defects,"April 3rd, 2016"
2,Arabica,Bourbon,"San Marcos Barrancas ""San Cristobal Cuch",Guatemala,NaN,1600 - 1800 m,Grounds for Health Admin,NaN,NaN,NaN,...,10.00,9.25,Sample 89.75,89.75,0 %,0 full defects,0.0,NaN,0 full defects,"May 31st, 2011"
3,Arabica,NaN,Yidnekachew Dabessa Coffee Plantation,Ethiopia,Oromia,1800-2200,Yidnekachew Dabessa,Yidnekachew Debessa Coffee Plantation,Wolensu,Yidnekachew Dabessa Coffee Plantation,...,10.00,8.67,Sample 89.00,89.00,11 %,0 full defects,0.0,Green,2 full defects,"March 25th, 2016"
4,Arabica,Other,METAD PLC,Ethiopia,GUJI-HAMBELA/BISHAN FUGU,1950-2200,metad plc,METAD Agricultural Developmet plc,METAD PLC,METAD PLC,...,10.00,8.58,Sample 88.83,88.83,12 %,0 full defects,0.0,Green,2 full defects,"April 3rd, 2016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,Robusta,NaN,ROBUSTASA,Ecuador,"San Juan, Playas",NaN,Luis Robles,ROBUSTASA,Our own lab,CafÃ© Robusta del Ecuador S.A.,...,7.75,7.83,Sample 78.75,78.75,0 %,0 full defects,0.0,Blue-Green,1 full defects,"January 18th, 2017"
1336,Robusta,NaN,ROBUSTASA,Ecuador,"San Juan, Playas",40,Luis Robles,ROBUSTASA,Own laboratory,CafÃ© Robusta del Ecuador S.A.,...,8.42,8.58,Sample 78.08,78.08,0 %,0 full defects,0.0,Blue-Green,0 full defects,"January 18th, 2017"
1337,Robusta,NaN,Fazenda Cazengo,United States,"Kwanza Norte Province, Angola",795 meters,James Moore,Global Opportunity Fund,Cafe Cazengo,Cafe Cazengo,...,7.42,7.17,Sample 77.17,77.17,0 %,0 full defects,0.0,NaN,6 full defects,"December 23rd, 2015"
1338,Robusta,NaN,NaN,India,NaN,NaN,Cafe Politico,Cafe Politico,NaN,NaN,...,7.08,6.92,Sample 75.08,75.08,10 %,20 full defects,0.0,Green,1 full defects,"August 25th, 2015"
1339,Robusta,NaN,NaN,Vietnam,NaN,NaN,Cafe Politico,Cafe Politico,NaN,NaN,...,6.67,7.92,Sample 73.75,73.75,12 %,63 full defects,0.0,None,9 full defects,"August 25th, 2015"

In [15]:
merged_df2.dtypes

Species                         object
Variety                         object
Farm Name                       object
Country                         object
Region                          object
Altitude                        object
Owner                           object
Company                         object
Mill                            object
Producer                        object
In-Country Partner              object
Harvest Year                    object
Processing Method               object
Aroma                          float64
Flavor                         float64
Aftertaste                     float64
Acidity                        float64
Body                           float64
Balance                        float64
Uniformity                     float64
Clean Cup                      float64
Sweetness                      float64
Cupper Points                  float64
Total Cup Points                object
Quality Score                  float64
Moisture                        object
Category One Defects            object
Quakers                        float64
Color                           object
Category Two Defects            object
Expiration of Certification     object
dtype: object

In [16]:
#Convert the following columns from object to str to format the datapoints (see below).

merged_df2.astype({
    'Species': str,
    'Altitude': str,
    'Harvest Year': str,
    'Total Cup Points': str,
    'Moisture': str,
    'Category One Defects': str,
    'Category Two Defects': str,
}).dtypes

Species                         object
Variety                         object
Farm Name                       object
Country                         object
Region                          object
Altitude                        object
Owner                           object
Company                         object
Mill                            object
Producer                        object
In-Country Partner              object
Harvest Year                    object
Processing Method               object
Aroma                          float64
Flavor                         float64
Aftertaste                     float64
Acidity                        float64
Body                           float64
Balance                        float64
Uniformity                     float64
Clean Cup                      float64
Sweetness                      float64
Cupper Points                  float64
Total Cup Points                object
Quality Score                  float64
Moisture                        object
Category One Defects            object
Quakers                        float64
Color                           object
Category Two Defects            object
Expiration of Certification     object
dtype: object

In [17]:
# Column Species: Delete extra "b''" from Arabica and Rubusta.
merged_df2['Species'].unique()
merged_df2['Species'].replace(["b'Arabica'", "b'Robusta'"], ["Arabica", "Robusta"])

0       Arabica
1       Arabica
2       Arabica
3       Arabica
4       Arabica
         ...
1335    Robusta
1336    Robusta
1337    Robusta
1338    Robusta
1339    Robusta
Name: Species, Length: 1340, dtype: object

In [18]:
merged_df2.to_csv("Coffee_Quality_v1.csv")

# Species Column is formatted correctly.

In [19]:
# Total Cup Points Column: Remove Sample from all entries.
merged_df2['Total Cup Points'] = merged_df2['Total Cup Points'].map(lambda x: x.lstrip('Sample'))
merged_df2['Total Cup Points'].astype(float)

<ipython-input-19-ef419e1dc6f5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2['Total Cup Points'] = merged_df2['Total Cup Points'].map(lambda x: x.lstrip('Sample'))

0       90.58
1       89.92
2       89.75
3       89.00
4       88.83
        ...
1335    78.75
1336    78.08
1337    77.17
1338    75.08
1339    73.75
Name: Total Cup Points, Length: 1340, dtype: float64

In [20]:
# Moisture Column: Remove % from all entries.
merged_df2['Moisture'] = merged_df2['Moisture'].map(lambda x: x.rstrip('%'))
merged_df2['Moisture'].astype(float)

<ipython-input-20-356afdc4311f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2['Moisture'] = merged_df2['Moisture'].map(lambda x: x.rstrip('%'))

0       12.0
1       12.0
2        0.0
3       11.0
4       12.0
        ...
1335     0.0
1336     0.0
1337     0.0
1338    10.0
1339    12.0
Name: Moisture, Length: 1340, dtype: float64

In [21]:
# Category One Defects Column: Remove % from all entries.
merged_df2['Category One Defects'] = merged_df2['Category One Defects'].map(lambda x: x.rstrip('full defects'))
merged_df2['Category One Defects'].astype(int)

<ipython-input-21-3b019566d7ef>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2['Category One Defects'] = merged_df2['Category One Defects'].map(lambda x: x.rstrip('full defects'))

0        0
1        0
2        0
3        0
4        0
        ..
1335     0
1336     0
1337     0
1338    20
1339    63
Name: Category One Defects, Length: 1340, dtype: int64

In [22]:
# Category Two Defects Column: Remove % from all entries.
merged_df2['Category Two Defects'] = merged_df2['Category Two Defects'].map(lambda x: x.rstrip('full defects'))
merged_df2['Category Two Defects'].astype(int)

<ipython-input-22-f151be2e62ed>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2['Category Two Defects'] = merged_df2['Category Two Defects'].map(lambda x: x.rstrip('full defects'))

0       0
1       1
2       0
3       2
4       2
       ..
1335    1
1336    0
1337    6
1338    1
1339    9
Name: Category Two Defects, Length: 1340, dtype: int64

In [23]:
merged_df2.dtypes

Species                         object
Variety                         object
Farm Name                       object
Country                         object
Region                          object
Altitude                        object
Owner                           object
Company                         object
Mill                            object
Producer                        object
In-Country Partner              object
Harvest Year                    object
Processing Method               object
Aroma                          float64
Flavor                         float64
Aftertaste                     float64
Acidity                        float64
Body                           float64
Balance                        float64
Uniformity                     float64
Clean Cup                      float64
Sweetness                      float64
Cupper Points                  float64
Total Cup Points                object
Quality Score                  float64
Moisture                        object
Category One Defects            object
Quakers                        float64
Color                           object
Category Two Defects            object
Expiration of Certification     object
dtype: object

In [24]:
merged_df2.to_csv("Coffee_Quality_v2.csv")

# Total Cup Points, Moisture, Category One, and Category Two Columns are formatted correctly.

In [25]:
merged_df2["Harvest Year"].unique()

array(['2014', nan, '2013', '2012', 'March 2010',
       'Sept 2009 - April 2010', 'May-August', '2009/2010', '2015',
       '2011', '2016', '2015/2016', '2010', 'Fall 2009', '2017',
       '2009 / 2010', '2010-2011', '2009-2010', '2009 - 2010',
       '2013/2014', '2017 / 2018', 'mmm', 'TEST',
       'December 2009-March 2010', '2014/2015', '2011/2012',
       'January 2011', '4T/10', '2016 / 2017', '23 July 2010',
       'January Through April', '1T/2011', '4t/2010', '4T/2010',
       'August to December', 'Mayo a Julio', '47/2010', 'Abril - Julio',
       '4t/2011', 'Abril - Julio /2011', 'Spring 2011 in Colombia.',
       '3T/2011', '2016/2017', '1t/2011', '2018', '4T72010', '08/09 crop',
       2013, 2017, 2015, 2012, 2014, 2016], dtype=object)

In [26]:
#Delete month and date from Harvest Year.
merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['Fall 2009'], '2009')
merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['March 2010','4T/10', '23 July 2010', '4t/2010', '4T/2010', '47/2010', '4T72010'], '2010')
merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['January 2011', '1T/2011','1t/2011','4t/2011', 'Abril - Julio /2011', 'Spring 2011 in Colombia.', '3T/2011'], '2011')
merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['Sept 2009 - April 2010', 'December 2009-March 2010'], '2009/2010')
merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['08/09 crop'], '2008/2009')
merged_df2["Harvest Year"].unique()

<ipython-input-26-599f9c71aef3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['Fall 2009'], '2009')
<ipython-input-26-599f9c71aef3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['March 2010','4T/10', '23 July 2010', '4t/2010', '4T/2010', '47/2010', '4T72010'], '2010')
<ipython-input-26-599f9c71aef3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['January 2011', '1T/2011','1t/2011','4t/2011', 'Abril - Julio /2011', 'Spring 2011 in Colombia.', '3T/2011'], '2011')
<ipython-input-26-599f9c71aef3>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['Sept 2009 - April 2010', 'December 2009-March 2010'], '2009/2010')
<ipython-input-26-599f9c71aef3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['08/09 crop'], '2008/2009')

array(['2014', nan, '2013', '2012', '2010', '2009/2010', 'May-August',
       '2015', '2011', '2016', '2015/2016', '2009', '2017', '2009 / 2010',
       '2010-2011', '2009-2010', '2009 - 2010', '2013/2014',
       '2017 / 2018', 'mmm', 'TEST', '2014/2015', '2011/2012',
       '2016 / 2017', 'January Through April', 'August to December',
       'Mayo a Julio', 'Abril - Julio', '2016/2017', '2018', '2008/2009',
       2013, 2017, 2015, 2012, 2014, 2016], dtype=object)

In [27]:
#Delete "non-sense"/incomplete data from Harvest Year.
merged_df2.drop(merged_df2.index[merged_df2["Harvest Year"] == 'mmm'], inplace = True)
merged_df2.drop(merged_df2.index[merged_df2["Harvest Year"] == 'May-August'], inplace = True)
merged_df2.drop(merged_df2.index[merged_df2["Harvest Year"] == 'TEST'], inplace = True)
merged_df2.drop(merged_df2.index[merged_df2["Harvest Year"] == 'January Through April'], inplace = True)
merged_df2.drop(merged_df2.index[merged_df2["Harvest Year"] == 'August to December'], inplace = True)
merged_df2.drop(merged_df2.index[merged_df2["Harvest Year"] == 'Mayo a Julio'], inplace = True)
merged_df2.drop(merged_df2.index[merged_df2["Harvest Year"] == 'Abril - Julio'], inplace = True)
merged_df2["Harvest Year"].unique()

/Users/ajwu/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

array(['2014', nan, '2013', '2012', '2010', '2009/2010', '2015', '2011',
       '2016', '2015/2016', '2009', '2017', '2009 / 2010', '2010-2011',
       '2009-2010', '2009 - 2010', '2013/2014', '2017 / 2018',
       '2014/2015', '2011/2012', '2016 / 2017', '2016/2017', '2018',
       '2008/2009', 2013, 2017, 2015, 2012, 2014, 2016], dtype=object)

In [28]:
#Covert all '-' into '/' and have same formatting in Harvest Year.
merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['2009 / 2010', '2009 - 2010', '2009-2010'], '2009/2010')
merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['2010-2011'], '2010/2011')
merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['2016 / 2017'], '2016/2017')
merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['2017 / 2018'], '2017/2018')
merged_df2["Harvest Year"].unique()

<ipython-input-28-54cae6324e22>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['2009 / 2010', '2009 - 2010', '2009-2010'], '2009/2010')
<ipython-input-28-54cae6324e22>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['2010-2011'], '2010/2011')
<ipython-input-28-54cae6324e22>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['2016 / 2017'], '2016/2017')
<ipython-input-28-54cae6324e22>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Harvest Year"] = merged_df2["Harvest Year"].replace(['2017 / 2018'], '2017/2018')

array(['2014', nan, '2013', '2012', '2010', '2009/2010', '2015', '2011',
       '2016', '2015/2016', '2009', '2017', '2010/2011', '2013/2014',
       '2017/2018', '2014/2015', '2011/2012', '2016/2017', '2018',
       '2008/2009', 2013, 2017, 2015, 2012, 2014, 2016], dtype=object)

In [29]:
merged_df2.to_csv("Coffee_Quality_v3.csv")

# Harvest Year column is formatted correctly.

In [30]:
merged_df2["Altitude"].unique()

array(['1950-2200', '1600 - 1800 m', '1800-2200', nan, '1570-1700',
       '1795-1850', '1855-1955', 'Meters above sea level: 1.872',
       'Meters above sea level: 1.943', '2000 ft',
       'Meters above sea level: 2.080', '1450', '1700-2000m',
       'Meters above sea level: 2.019', '1300 MSNM', '1320',
       'Meters above sea level: 2.112', '1250m', '1950', '1400', '1200',
       '1300', '1750-1800', '1800', 'Meters above sea level: 1.941',
       '1.2', '1000 M', '1754', '900-1,500m', '1520m-2200m', '1400-1900M',
       '1500-2000 m', '1400ft', '1400-1900', '1800 msnm', '1600',
       '1800-2000', '5000', '4650', '1,700 mts', '1500 meters',
       '1300~1400 m.s.l', '1680', '1900M', '5600-5760 METROS', '1400 M',
       '1700', '1770', '1300 msnm', 'above 1600 M', 'Above 1200 M',
       '1550 msnm', '1550', '1250-1400 meter', '1400 msm', '2.560 msnm',
       '2136 msnm', '1900', '-1', '1580', '1100m', '1400 MASL',
       '3500-5200 feet', 'De 1600 a 1950 msnm', '800 M', '1620M', '1200m',
       '1000 m', '350', '1450 msnm', '1200 mts', '800-1050m', '1350',
       '170', '1150', '1750', '1750M', '2000', '4300', '1700-1850m',
       '1500', '5000 FT.', '4000 PSN', '1600 a 1900 msnm', '1750 msnm',
       '1450 ~ 1700 m', '1300m', 'Above 1100m', '2000 m', '1200M', '900',
       '442 msnm', '1200m to 1350m', '900-1200m', '3600-6200 ft',
       '4400-4700 ft', '1000', '2560', '3607', '4000 PSNM', '1170',
       '1700m', '3664', '1565', '3280', 'de 900 a 1100 msnm', '1850',
       '1545-1668 MASL', '1530', "approx. 1'500 metres a.s.l.",
       '894m - 1183m', '1500-1700m', '442', '968', '1480', '1800m',
       '5440 - 5760 METROS', '1550 m', '1260', '1700 msnm', '-', '1650',
       '890', '934', 'none', '950å…¬å°º', '2527', '1', '480-570M',
       '1650-1703', '1200-1400', '800 meters above sea level', '1218',
       '1.250 m', '4921ft', '750', '2800 ft', '1500-1600', '700',
       '1300 mts', '1600 m.s.n.m', '1600 msnm', '1250', '800++',
       '1550-1700m', '4451 METROS', '1750 MSNM', '1800 - 2000', '1100',
       '1200-1600masl', '3702', 'DE 1.600 A 1.950 MSNM', '1799', '4000',
       '1400M', '1600 on Average', '1850 MSNM', '1400 mts', '940',
       '4,600 ft.', '439', '1330', '1813', '1500 msnm', '1227',
       '1650 msnm', '1100-1300', '4200 FEET', '1000 MSNM', '1880', '2100',
       '1261', '800å…¬å°º', '1483', '1500 MSNM', '175', '1600-1800msnm',
       '1880 msnm', '1800 m.s.n.m', '1901', '16.8', '1500msnm',
       '1400-1900 PSN', "approx.1'500 metres a.s.l.", '1653', 'unkown',
       '1450 MSNN', '5000 Pies', '532', '1089', '1380', '1000m', '950m',
       '900m', '905', '700-800M', '1300 M', '1300-1400m', '894', '872',
       '1473', '1645', '1300 A 1800 METROS SOBRE EL NIVEL DEL MAR',
       '4500 Pies', '1500MSNM', '900-1100', '1600 - 1950 msnm',
       '1000 msnm', 'DE 1600 a 1950 msnm', '1500-1750 msnm', '4500',
       '1600 - 1950 MSNM', '775', '1,200 masl',
       '1,600 + meters above sea level', '1059', '1,300 meters',
       '11000 metros', '5440-5760 METROS', '1248', '1040M', '1400 m',
       '1050 - 1850 msnm', '1040', '4000PSN', '1200-2000m', '1200 m',
       '1800 mts', '1,400 METER ABOVE SEA LEVEL', '518', '650', '1442 M',
       '1.65', '1400 thru 1850', '1200å…¬å°º', '1296', '1400- 1900', '1240 M',
       '950', '1,800 meters (5,900', '1050', '200 M', '1200-1300m dpl',
       '1,400-1,500 m', '1317', 'De 1.600 a 1.950 msnm', '900-1050m',
       '1,500-1,700m', '1679', '2285', 'Huanuco', '1560', '442 MSNM',
       '1750 m.s.n.m', '1396', '982', '1268', '5500 METROS', '1450 M',
       '600 M', '5,500-6,000 PSNM', '441', '1200 A 1400', '1180M',
       '650 M', '1338', '533', '4563', '1500-1800', '1,200-1,600m',
       '1200 M', '1144', '1200-1400 MASL', '1500 - 1700', '1.3', '944',
       '1300- 1400', '2500M', '600M', '1400 m.s.n.m.', '600-700 M',
       '1050m', '1020', '1300 A 1800 MTRS. A NIVEL DEL MAR', '1877',
       '1,000-1,500m', '981', '690', '973', '4001', '1350-1500',
       '1400 MSNM', '700M', '1556M', '1,550 meters',
       'DE 1.600 A 1950 msnm', '900-950m', '1600-1800 msnm', '774',
       '1200-1800M', '150 M', '750 M', '190164', '800', '1100M', '850 M',
       '4500-6000 Feet', '160-200M', '4000 ft', '1200 msm', '1599M',
       '900 M', '400-1250m', '1.25', '110å…¬å°º', '1422', '1550 MTS.',
       '1,550 meter', '763', '1130', '1450 MSNM', '680', '1400 MSN',
       '5,000 F', '100/2000', '1450 mals', '1200 MASL', '990-1000M', '0',
       '695', '1,100 m.o.s.l.', '5600 feet', '1456', '1500 mts', '1642',
       '758M', '1350 ,SNN', '1525 M', '1100 M', '200', '3500 ft', '550å…¬å°º',
       'Between 700 and 1,400 meters', '688 M', '300 M', '1186', '1210',
       '100', '3825', '1,100.00 mosl', '1450 masl', '1680M',
       '~1000 meters', '1200-1500', '1.85', '4540 METROS', '50', '280',
       '1250 m', '3800', '4000 P.S.N.M.', '6100 METROS', '600å…¬å°º',
       '1,450m', '995', '3000 ft', '4287', '900 m.s.n.m.', '700 M', '808',
       '1100 - 1275 mts', '1400 msnm', '850å…¬å°º', '250 M', '3845',
       '1,300 to 1,500 meters', '1901.64', '800-1200', '500-700M', '1022',
       '-(average)', '975', '1264', '3,500 - 5,200 feet', '700Må…¬å°º', '850',
       '12OO', '800M', '1,600 meters', '4000 P.S.N.M', '1200 meters',
       '750-800 M', '900-1500 masl', '3500', '1000+ meters', '1280',
       '1140', '1,200 meters', '640m-1400m', '1,000 meters', '~350m',
       '1488', '3170', '1212', '1200-1300', "3,000'", '750m', '3140',
       '900-1300', '1095', '1367', '1745', '40', '795 meters'],
      dtype=object)

In [31]:
#Delete all variants of meter labels from Altitude.
merged_df2["Altitude"] = merged_df2["Altitude"].str.replace('[ppx, B, +, ~, g, M, MSNM, msm, mosl, METROS, mals, MSN, SNN, Meters, m, meters, mts, msnm, å…¬å°º, Må…¬å°º, MTRS. A NIVEL DEL MAR, Meters above sea level, :]', '')

merged_df2["Altitude"].unique()

<ipython-input-31-1a76f95fe88f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].str.replace('[ppx, B, +, ~, g, M, MSNM, msm, mosl, METROS, mals, MSN, SNN, Meters, m, meters, mts, msnm, å…¬å°º, Må…¬å°º, MTRS. A NIVEL DEL MAR, Meters above sea level, :]', '')

array(['1950-2200', '1600-1800', '1800-2200', nan, '1570-1700',
       '1795-1850', '1855-1955', '1872', '1943', '2000f', '2080', '1450',
       '1700-2000', '2019', '1300', '1320', '2112', '1250', '1950',
       '1400', '1200', '1750-1800', '1800', '1941', '12', '1000', '1754',
       '900-1500', '1520-2200', '1400-1900', '1500-2000', '1400f', '1600',
       '1800-2000', '5000', '4650', '1700', '1500', '13001400', '1680',
       '1900', '5600-5760', '1770', '1550', '1250-1400', '2560', '2136',
       '-1', '1580', '1100', '3500-5200f', '16001950', '800', '1620',
       '350', '800-1050', '1350', '170', '1150', '1750', '2000', '4300',
       '1700-1850', '5000F', '4000P', '16001900', '14501700', '900',
       '442', '12001350', '900-1200', '3600-6200f', '4400-4700f', '3607',
       '1170', '3664', '1565', '3280', 'd9001100', '1850', '1545-1668',
       '1530', "1'500", '894-1183', '1500-1700', '968', '1480',
       '5440-5760', '1260', '-', '1650', '890', '934', '', '950', '2527',
       '1', '480-570', '1650-1703', '1200-1400', '1218', '4921f', '750',
       '2800f', '1500-1600', '700', '1550-1700', '4451', '1200-1600',
       '3702', '1799', '4000', '940', '4600f', '439', '1330', '1813',
       '1227', '1100-1300', '4200F', '1880', '2100', '1261', '1483',
       '175', '1901', '168', '1400-1900P', '1653', 'ukw', '5000Pi', '532',
       '1089', '1380', '905', '700-800', '1300-1400', '894', '872',
       '1473', '1645', '13001800', '4500Pi', '900-1100', '1600-1950',
       '1500-1750', '4500', '775', '1059', '11000', '1248', '1040',
       '1050-1850', '1200-2000', '518', '650', '1442', '165',
       '1400hu1850', '1296', '1240', '1800(5900', '1050', '200',
       '1200-1300d', '1400-1500', '1317', '900-1050', '1679', '2285',
       'Huuc', '1560', '1396', '982', '1268', '5500', '600', '5500-6000P',
       '441', '12001400', '1180', '1338', '533', '4563', '1500-1800',
       '1144', '13', '944', '2500', '600-700', '1020', '1877',
       '1000-1500', '981', '690', '973', '4001', '1350-1500', '1556',
       '900-950', '774', '1200-1800', '150', '190164', '850',
       '4500-6000F', '160-200', '4000f', '1599', '400-1250', '125', '110',
       '1422', '763', '1130', '680', '100/2000', '990-1000', '0', '695',
       '5600f', '1456', '1642', '758', '1525', '3500f', '550',
       'w700d1400', '688', '300', '1186', '1210', '100', '3825', '110000',
       '1200-1500', '185', '4540', '50', '280', '3800', '6100', '995',
       '3000f', '4287', '808', '1100-1275', '250', '3845', '13001500',
       '800-1200', '500-700', '1022', '-()', '975', '1264', '750-800',
       '3500', '1280', '1140', '640-1400', '1488', '3170', '1212',
       '1200-1300', "3000'", '3140', '900-1300', '1095', '1367', '1745',
       '40', '795'], dtype=object)

In [32]:
# Convert feet to meters in Altitude column.
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['2000f'], '610')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['1400f'], '427')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['3500-5200f'], '1067-1585')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['4500-6000F'], '1372-1829')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['5500-6000P'], '1676-1829')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['1200-1300dp'], '366-396')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['4500Pi'], '1372')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['5000Pi', '5000F'], '1524')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['1400-1900P'], '427-579')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['4500Pi'], '1372')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['4400-4700f'], '1341-1433')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['3600-6200f'], '1097-1890')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['4000f', '4000P'], '1219')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['3500f'], '1067')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['2800f'], '853')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['4921f'], '1500')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['4200f', '4200F'], '1280')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['4600f'], '1402')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['5600f'], '1707')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['3000f'], '914')
merged_df2["Altitude"].unique()

<ipython-input-32-da0284d6e7dc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['2000f'], '610')
<ipython-input-32-da0284d6e7dc>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['1400f'], '427')
<ipython-input-32-da0284d6e7dc>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['3500-5200f'], '1067-1585')
<ipython-input-32-da0284d6e7dc>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['4500-6000F'], '1372-1829')
<ipython-input-32-da0284d6e7dc>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['5500-6000P'], '1676-1829')
<ipython-input-32-da0284d6e7dc>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['1200-1300dp'], '366-396')
<ipython-input-32-da0284d6e7dc>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['4500Pi'], '1372')
<ipython-input-32-da0284d6e7dc>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['5000Pi', '5000F'], '1524')
<ipython-input-32-da0284d6e7dc>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['1400-1900P'], '427-579')
<ipython-input-32-da0284d6e7dc>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['4500Pi'], '1372')
<ipython-input-32-da0284d6e7dc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['4400-4700f'], '1341-1433')
<ipython-input-32-da0284d6e7dc>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['3600-6200f'], '1097-1890')
<ipython-input-32-da0284d6e7dc>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['4000f', '4000P'], '1219')
<ipython-input-32-da0284d6e7dc>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['3500f'], '1067')
<ipython-input-32-da0284d6e7dc>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['2800f'], '853')
<ipython-input-32-da0284d6e7dc>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['4921f'], '1500')
<ipython-input-32-da0284d6e7dc>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['4200f', '4200F'], '1280')
<ipython-input-32-da0284d6e7dc>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['4600f'], '1402')
<ipython-input-32-da0284d6e7dc>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['5600f'], '1707')
<ipython-input-32-da0284d6e7dc>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['3000f'], '914')

array(['1950-2200', '1600-1800', '1800-2200', nan, '1570-1700',
       '1795-1850', '1855-1955', '1872', '1943', '610', '2080', '1450',
       '1700-2000', '2019', '1300', '1320', '2112', '1250', '1950',
       '1400', '1200', '1750-1800', '1800', '1941', '12', '1000', '1754',
       '900-1500', '1520-2200', '1400-1900', '1500-2000', '427', '1600',
       '1800-2000', '5000', '4650', '1700', '1500', '13001400', '1680',
       '1900', '5600-5760', '1770', '1550', '1250-1400', '2560', '2136',
       '-1', '1580', '1100', '1067-1585', '16001950', '800', '1620',
       '350', '800-1050', '1350', '170', '1150', '1750', '2000', '4300',
       '1700-1850', '1524', '1219', '16001900', '14501700', '900', '442',
       '12001350', '900-1200', '1097-1890', '1341-1433', '3607', '1170',
       '3664', '1565', '3280', 'd9001100', '1850', '1545-1668', '1530',
       "1'500", '894-1183', '1500-1700', '968', '1480', '5440-5760',
       '1260', '-', '1650', '890', '934', '', '950', '2527', '1',
       '480-570', '1650-1703', '1200-1400', '1218', '750', '853',
       '1500-1600', '700', '1550-1700', '4451', '1200-1600', '3702',
       '1799', '4000', '940', '1402', '439', '1330', '1813', '1227',
       '1100-1300', '1280', '1880', '2100', '1261', '1483', '175', '1901',
       '168', '427-579', '1653', 'ukw', '532', '1089', '1380', '905',
       '700-800', '1300-1400', '894', '872', '1473', '1645', '13001800',
       '1372', '900-1100', '1600-1950', '1500-1750', '4500', '775',
       '1059', '11000', '1248', '1040', '1050-1850', '1200-2000', '518',
       '650', '1442', '165', '1400hu1850', '1296', '1240', '1800(5900',
       '1050', '200', '1200-1300d', '1400-1500', '1317', '900-1050',
       '1679', '2285', 'Huuc', '1560', '1396', '982', '1268', '5500',
       '600', '1676-1829', '441', '12001400', '1180', '1338', '533',
       '4563', '1500-1800', '1144', '13', '944', '2500', '600-700',
       '1020', '1877', '1000-1500', '981', '690', '973', '4001',
       '1350-1500', '1556', '900-950', '774', '1200-1800', '150',
       '190164', '850', '1372-1829', '160-200', '1599', '400-1250', '125',
       '110', '1422', '763', '1130', '680', '100/2000', '990-1000', '0',
       '695', '1707', '1456', '1642', '758', '1525', '1067', '550',
       'w700d1400', '688', '300', '1186', '1210', '100', '3825', '110000',
       '1200-1500', '185', '4540', '50', '280', '3800', '6100', '995',
       '914', '4287', '808', '1100-1275', '250', '3845', '13001500',
       '800-1200', '500-700', '1022', '-()', '975', '1264', '750-800',
       '3500', '1140', '640-1400', '1488', '3170', '1212', '1200-1300',
       "3000'", '3140', '900-1300', '1095', '1367', '1745', '40', '795'],
      dtype=object)

In [33]:
# Convert range data to same format in Altitude column.
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['13001400'], '1300-1400')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['16001950'], '1600-1950')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['16001900'], '1600-1900')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['14501700'], '1450-1700')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['d9001100'], '900-1100')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['ppx1500'], '500')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['13001800'], '1300-1800')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['1400hu1850'], '1400-1850')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['1800(5900'], '1800')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['12001400'], '1200-1400')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['13001500'], '1300-1500')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['w700d1400'], '700-1400')
merged_df2["Altitude"] = merged_df2["Altitude"].replace(['12001350'], '1200-1350')

merged_df2["Altitude"].unique()

<ipython-input-33-4766cffe2d5f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['13001400'], '1300-1400')
<ipython-input-33-4766cffe2d5f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['16001950'], '1600-1950')
<ipython-input-33-4766cffe2d5f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['16001900'], '1600-1900')
<ipython-input-33-4766cffe2d5f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['14501700'], '1450-1700')
<ipython-input-33-4766cffe2d5f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['d9001100'], '900-1100')
<ipython-input-33-4766cffe2d5f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['ppx1500'], '500')
<ipython-input-33-4766cffe2d5f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['13001800'], '1300-1800')
<ipython-input-33-4766cffe2d5f>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['1400hu1850'], '1400-1850')
<ipython-input-33-4766cffe2d5f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['1800(5900'], '1800')
<ipython-input-33-4766cffe2d5f>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['12001400'], '1200-1400')
<ipython-input-33-4766cffe2d5f>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['13001500'], '1300-1500')
<ipython-input-33-4766cffe2d5f>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['w700d1400'], '700-1400')
<ipython-input-33-4766cffe2d5f>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df2["Altitude"] = merged_df2["Altitude"].replace(['12001350'], '1200-1350')

array(['1950-2200', '1600-1800', '1800-2200', nan, '1570-1700',
       '1795-1850', '1855-1955', '1872', '1943', '610', '2080', '1450',
       '1700-2000', '2019', '1300', '1320', '2112', '1250', '1950',
       '1400', '1200', '1750-1800', '1800', '1941', '12', '1000', '1754',
       '900-1500', '1520-2200', '1400-1900', '1500-2000', '427', '1600',
       '1800-2000', '5000', '4650', '1700', '1500', '1300-1400', '1680',
       '1900', '5600-5760', '1770', '1550', '1250-1400', '2560', '2136',
       '-1', '1580', '1100', '1067-1585', '1600-1950', '800', '1620',
       '350', '800-1050', '1350', '170', '1150', '1750', '2000', '4300',
       '1700-1850', '1524', '1219', '1600-1900', '1450-1700', '900',
       '442', '1200-1350', '900-1200', '1097-1890', '1341-1433', '3607',
       '1170', '3664', '1565', '3280', '900-1100', '1850', '1545-1668',
       '1530', "1'500", '894-1183', '1500-1700', '968', '1480',
       '5440-5760', '1260', '-', '1650', '890', '934', '', '950', '2527',
       '1', '480-570', '1650-1703', '1200-1400', '1218', '750', '853',
       '1500-1600', '700', '1550-1700', '4451', '1200-1600', '3702',
       '1799', '4000', '940', '1402', '439', '1330', '1813', '1227',
       '1100-1300', '1280', '1880', '2100', '1261', '1483', '175', '1901',
       '168', '427-579', '1653', 'ukw', '532', '1089', '1380', '905',
       '700-800', '894', '872', '1473', '1645', '1300-1800', '1372',
       '1500-1750', '4500', '775', '1059', '11000', '1248', '1040',
       '1050-1850', '1200-2000', '518', '650', '1442', '165', '1400-1850',
       '1296', '1240', '1050', '200', '1200-1300d', '1400-1500', '1317',
       '900-1050', '1679', '2285', 'Huuc', '1560', '1396', '982', '1268',
       '5500', '600', '1676-1829', '441', '1180', '1338', '533', '4563',
       '1500-1800', '1144', '13', '944', '2500', '600-700', '1020',
       '1877', '1000-1500', '981', '690', '973', '4001', '1350-1500',
       '1556', '900-950', '774', '1200-1800', '150', '190164', '850',
       '1372-1829', '160-200', '1599', '400-1250', '125', '110', '1422',
       '763', '1130', '680', '100/2000', '990-1000', '0', '695', '1707',
       '1456', '1642', '758', '1525', '1067', '550', '700-1400', '688',
       '300', '1186', '1210', '100', '3825', '110000', '1200-1500', '185',
       '4540', '50', '280', '3800', '6100', '995', '914', '4287', '808',
       '1100-1275', '250', '3845', '1300-1500', '800-1200', '500-700',
       '1022', '-()', '975', '1264', '750-800', '3500', '1140',
       '640-1400', '1488', '3170', '1212', '1200-1300', "3000'", '3140',
       '900-1300', '1095', '1367', '1745', '40', '795'], dtype=object)

In [34]:
#Delete "non-sense"/incomplete data from Altitude.
merged_df2.drop(merged_df2.index[merged_df2["Altitude"] == '-1'], inplace = True)
merged_df2.drop(merged_df2.index[merged_df2["Altitude"] == 'ukw'], inplace = True)
merged_df2.drop(merged_df2.index[merged_df2["Altitude"] == '-(g)'], inplace = True)
merged_df2.drop(merged_df2.index[merged_df2["Altitude"] == 'Huuc'], inplace = True)
merged_df2.drop(merged_df2.index[merged_df2["Altitude"] == 'ppx1'], inplace = True)
merged_df2.drop(merged_df2.index[merged_df2["Altitude"] == '-'], inplace = True)
merged_df2["Altitude"].unique()

array(['1950-2200', '1600-1800', '1800-2200', nan, '1570-1700',
       '1795-1850', '1855-1955', '1872', '1943', '610', '2080', '1450',
       '1700-2000', '2019', '1300', '1320', '2112', '1250', '1950',
       '1400', '1200', '1750-1800', '1800', '1941', '12', '1000', '1754',
       '900-1500', '1520-2200', '1400-1900', '1500-2000', '427', '1600',
       '1800-2000', '5000', '4650', '1700', '1500', '1300-1400', '1680',
       '1900', '5600-5760', '1770', '1550', '1250-1400', '2560', '2136',
       '1580', '1100', '1067-1585', '1600-1950', '800', '1620', '350',
       '800-1050', '1350', '170', '1150', '1750', '2000', '4300',
       '1700-1850', '1524', '1219', '1600-1900', '1450-1700', '900',
       '442', '1200-1350', '900-1200', '1097-1890', '1341-1433', '3607',
       '1170', '3664', '1565', '3280', '900-1100', '1850', '1545-1668',
       '1530', "1'500", '894-1183', '1500-1700', '968', '1480',
       '5440-5760', '1260', '1650', '890', '934', '', '950', '2527', '1',
       '480-570', '1650-1703', '1200-1400', '1218', '750', '853',
       '1500-1600', '700', '1550-1700', '4451', '1200-1600', '3702',
       '1799', '4000', '940', '1402', '439', '1330', '1813', '1227',
       '1100-1300', '1280', '1880', '2100', '1261', '1483', '175', '1901',
       '168', '427-579', '1653', '532', '1089', '1380', '905', '700-800',
       '894', '872', '1473', '1645', '1300-1800', '1372', '1500-1750',
       '4500', '775', '1059', '11000', '1248', '1040', '1050-1850',
       '1200-2000', '518', '650', '1442', '165', '1400-1850', '1296',
       '1240', '1050', '200', '1200-1300d', '1400-1500', '1317',
       '900-1050', '1679', '2285', '1560', '1396', '982', '1268', '5500',
       '600', '1676-1829', '441', '1180', '1338', '533', '4563',
       '1500-1800', '1144', '13', '944', '2500', '600-700', '1020',
       '1877', '1000-1500', '981', '690', '973', '4001', '1350-1500',
       '1556', '900-950', '774', '1200-1800', '150', '190164', '850',
       '1372-1829', '160-200', '1599', '400-1250', '125', '110', '1422',
       '763', '1130', '680', '100/2000', '990-1000', '0', '695', '1707',
       '1456', '1642', '758', '1525', '1067', '550', '700-1400', '688',
       '300', '1186', '1210', '100', '3825', '110000', '1200-1500', '185',
       '4540', '50', '280', '3800', '6100', '995', '914', '4287', '808',
       '1100-1275', '250', '3845', '1300-1500', '800-1200', '500-700',
       '1022', '-()', '975', '1264', '750-800', '3500', '1140',
       '640-1400', '1488', '3170', '1212', '1200-1300', "3000'", '3140',
       '900-1300', '1095', '1367', '1745', '40', '795'], dtype=object)

In [35]:
merged_df2 = merged_df2.rename(columns = {"Altitude": "Altitude (Meters)"})

In [36]:
merged_df2.to_csv("Coffee_Quality_v4.csv")

In [37]:
merged_df2["Country"].unique()

array(['Ethiopia', 'Guatemala', 'Brazil', 'Peru', 'United States',
       'United States (Hawaii)', 'China', 'Costa Rica', 'Mexico',
       'Uganda', 'Honduras', 'Taiwan', 'Nicaragua',
       'Tanzania, United Republic Of', 'Kenya', 'Thailand', 'Colombia',
       'Panama', 'Papua New Guinea', 'El Salvador', 'Indonesia', 'Japan',
       'Ecuador', 'United States (Puerto Rico)', 'Haiti', 'Burundi',
       'Vietnam', 'Philippines', 'Rwanda', 'Malawi', 'Laos', 'Zambia',
       'Myanmar', 'Mauritius', 'Cote d?Ivoire', nan, 'India'],
      dtype=object)

In [38]:
#Convert country names to match Country_Code Table.

merged_df2["Country"] = merged_df2["Country"].replace(['United States (Hawaii)', 'United States (Puerto Rico)'], 'United States')
merged_df2["Country"] = merged_df2["Country"].replace(['Tanzania, United Republic Of'], 'Tanzania')
merged_df2["Country"] = merged_df2["Country"].replace(['Myanmar'], 'Burma')
merged_df2["Country"] = merged_df2["Country"].replace(['Cote d?Ivoire'], "Cote d'Ivoire")
merged_df2["Country"].unique()

array(['Ethiopia', 'Guatemala', 'Brazil', 'Peru', 'United States',
       'China', 'Costa Rica', 'Mexico', 'Uganda', 'Honduras', 'Taiwan',
       'Nicaragua', 'Tanzania', 'Kenya', 'Thailand', 'Colombia', 'Panama',
       'Papua New Guinea', 'El Salvador', 'Indonesia', 'Japan', 'Ecuador',
       'Haiti', 'Burundi', 'Vietnam', 'Philippines', 'Rwanda', 'Malawi',
       'Laos', 'Zambia', 'Burma', 'Mauritius', "Cote d'Ivoire", nan,
       'India'], dtype=object)

In [39]:
merged_df2.to_csv("Coffee_Quality_FINAL.csv")